<!-- This is where the footer begins -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a class="d-inline text-primary" href="https://www.facebook.com/FindWineSA/">Facebook</a>
                <a class="d-inline text-primary" href="https://twitter.com/FindWineSA" style="margin-left: 18px;">Twitter</a>
                <a class="d-inline text-primary" href="{% url 'content:contact' %}" style="margin-left: 18px;">Contact</a>
                <a class="d-inline text-primary" href="{% url 'wine:index' %}" style="margin-left: 18px;">Index</a>
                <a class="d-inline text-primary" href="{% url 'admin:index' %}" style="margin-left: 18px;">Admin</a>
{# ADD LATER <a class="d-inline text-primary" href="{% url 'wine:advanced_search' %}" style="margin-left: 18px;">Advanced search</a>  #}
            </div>
         </div>
        <div class="row">
            <div class="col-md-12">
            <span class="text-muted" style="text-align: center">
                Copyright FindWine 2017 | <a href="{% url 'content:terms' %}">Privacy & Terms</a>
            </span>
            </div>
        </div>
    </div>
</footer>
