<!-- This is where the footer begins -->
{% load staticfiles %}

<footer class="footer findwine_footer hidden-sm-down">
  <div class="container">
    <div class="row">
      <div class="col-md-10 findwine_footer--flex">
        <img src="{% static 'wine/images/SVGs/logo.svg' %}" class="findwine_footer--logo">
        <span class="findwine_footer--text">
          <div class="findwine_footer--text-spacing"> &copy; FindWine (Pty) Ltd </div>
          <div class="findwine_footer--text-spacing"> | </div>
          <div class="findwine_footer--text-spacing">
            <a href="{% url 'content:terms' %}" class="findwine_footer--text"> Privacy & Terms </a>
          </div>
          <div class="findwine_footer--text-spacing">
            <a href="{% url 'content:contact' %}" class="findwine_footer--text"> Contact Us </a>
          </div>
        </span>
      </div>
      <div class="col-md-2">
        <a href="https://www.instagram.com/findwinesa/" target="_blank" class="findwine_footer--flex-right">
          <!-- This is a placeholder image - remember to replace -->
          <img src="{% static 'wine/images/SVGs/instagram.svg' %}" class="findwine_footer--icon">
        </a>
        <a href="https://twitter.com/FindWineSA" target="_blank" class="findwine_footer--flex-right">
          <img src="{% static 'wine/images/SVGs/twitter.svg' %}" class="findwine_footer--icon">
        </a>
        <a href="https://www.facebook.com/FindWineSA/" target="_blank" class="findwine_footer--flex-right">
          <img src="{% static 'wine/images/SVGs/facebook.svg' %}" class="findwine_footer--icon">
        </a>
      </div>
    </div>
  </div>
</footer>
