{% load staticfiles %}
<div class="modal left fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog findwine_modal-nav" role="document">
    <div class="modal-content findwine_modal-nav-content">
      <div class="modal-header findwine_modal-nav-header">
        <button type="button" class="close findwine_modal-nav-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{% static 'wine/images/SVGs/close.svg' %}" class="findwine_menu-button"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'wine:search' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'content:about' %}">About</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer findwine_modal-nav-footer">
        <div class="findwine_modal-nav-footer-links">
          <ul class="findwine_modal-nav-footer-links-ul">
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:contact' %}">Contact Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:terms' %}">Privacy & Terms</a>
            </li>
          </ul>
        </div>
        <div class="findwine_modal-nav-footer-social">
          <a href="https://www.instagram.com/findwinesa/" target="_blank" class="findwine_footer--flex-right">
            <!-- This is a placeholder image - remember to replace -->
            <img src="{% static 'wine/images/SVGs/instagram-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://twitter.com/FindWineSA" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/twitter-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://www.facebook.com/FindWineSA/" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/facebook-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

