{% extends "wine/base.html" %}
{% load staticfiles %}

{% block content %}

<div id="search-bar"></div>

<div class="findwine_search-made">
<!--Banner-->
<div class="findwine_about-banner">
  <div class="findwine_about-heading-1">About Us</div>
  <div class="findwine_about-heading-3">Search for award-winning wine at the price you want to pay.</div>
</div>
<!--Content block 1-->
<div class="container findwine_about-content-1">
  <div class="findwine_about-content-1-left">
    <div class="findwine_about-heading-4">What is FindWine?</div>
    <div class="findwine_about-paragraph">FindWine is your guide to finding the best wine. No more standing at wine
      shops, staring at labels or debating prices.
    </div>
    <div class="findwine_about-paragraph">We list only award-winning wines that are available to order online and be
      delivered to your door.
    </div>
    <div class="findwine_about-paragraph">Simply select wine type and desired price, and our smart ratings will sort
      results based on a unique aggregate of respected award body rankings.
    </div>
    <div class="findwine_about-paragraph">Once you find a wine you like, we give you price comparisons from respected
      online merchants where you can place an order for delivery.
    </div>
    <div class="findwine_about-paragraph">With us, finding great wine is as easy as search, compare, buy… enjoy!</div>
  </div>
  <div class="findwine_about-content-1-right">
    <img class="findwine_about-content-icon-1" src="{% static 'wine/images/SVGs/about.svg' %}">
  </div>
</div>
<div class="findwine_detail-heading hidden-lg-up"></div>
<!--Content block 2-->
<div class="findwine_about-content-container-outer">
  <div class="container findwine_about-content-container">
    <div class="findwine_about-content-2">
      <div class="findwine_about-icon">
        <img class="findwine_about-us-icon" src="{% static 'wine/images/SVGs/ratings.svg' %}">
      </div>
      <div class="findwine_about-heading-4">What is our smart ratings system?</div>
      <div class="findwine_about-paragraph">There are a lot of South African and international awards bodies out there,
        and we don’t expect you to keep track of them all. That’s what we do.
      </div>
      <div class="findwine_about-paragraph">Our smart ratings system calculates a unique score for each wine based on
        the awards they’ve won and the prestige of the award body.
      </div>
      <div class="findwine_about-paragraph">These unique scores fall between 0 and 10, with 10 being the highest rating
        a wine can receive.
      </div>
    </div>
    <div class="findwine_detail-heading hidden-lg-up"></div>
    <div class="findwine_about-content-2">
      <div class="findwine_about-icon" style="margin-left: 15px">
        <img class="findwine_about-us-icon" src="{% static 'wine/images/SVGs/wine-heart.svg' %}">
      </div>
      <div class="findwine_about-heading-4">Who are we?</div>
      <div class="findwine_about-paragraph">We are wine lovers that don’t actually know a great deal about wine.
        But we do know we like to drink great wine. And that we want that wine to fit into our budget – whether that’s
        R50 or R500.
      </div>
      <div class="findwine_about-paragraph">We want buying wine to be as enjoyable as drinking it. But we know we’re not
        there yet.
      </div>
      <div class="findwine_about-paragraph">FindWine is a new service that will only get better with your help. We’d
        love to hear your comments on what we’re getting right, and what we’re getting wrong. Get in touch and email us
        <a class="findwine_about-link" href="mailto:beta@findwine.com">here</a>.
      </div>
    </div>
  </div>
</div>
<div class="findwine_detail-heading hidden-lg-up"></div>
</div>
{% endblock %}
{% block page_scripts %}
<script>
  // var CATEGORY_CHOICES = {{ categories|safe }}; // must be a list since these are ordered
  // var CATEGORY_MAP = {{ category_mapping|safe }};
  var STATIC_BASE_PATH = "{% static '' %}";
  $(function () {
    // show nav
    $('#top').show();
  });
</script>
<script src="{% static 'js/search-bundle.js' %}"></script>
{% endblock %}