{% extends "wine/base.html" %}
{% block content %}
<div class="container py-4">
    <h1>Contact Us</h1>
    <h3>Social Media</h3>
    <p><i class="fa fa-facebook-official"></i> <a class="d-inline text-primary" href="https://www.facebook.com/FindWineSA/">Facebook</a></p>
    <p><i class="fa fa-twitter"></i> <a class="d-inline text-primary" href="https://twitter.com/FindWineSA">Twitter</a></p>
    <h3>Customer Support</h3>
    <p>TBD</p>
    <h3>Merchants</h3>
    <p><a href="mailto:merchants@findwine.com">merchants@findwine.com</a></p>
    <h3>Producers</h3>
    <p><a href="mailto:producers@findwine.com">producers@findwine.com</a></p>
    <h3>Press</h3>
    <p>TBD</p>
</div>
{% endblock %}
