{% extends "wine/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Nav -->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded navbar-new search-page-content" id="top">
    <div class="container findwine_nav--menu">
        <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <span>
          <img src="{% static 'wine/images/SVGs/menu-black.svg' %}" class="findwine_menu-button">
        </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active nav-item-new">
                    <a class="nav-link nav-link-new" href="{% url 'wine:search' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item nav-item-new">
                    <a class="nav-link nav-link-new" href="{% url 'content:about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="findwine_nav-logo search-page-content">
        <a href="{% url 'wine:search' %}"><img src="{% static 'wine/images/SVGs/logo-black.svg' %}" class="d-inline-block align-top findwine_nav-logo-icon" alt="FindWine"></a>
    </div>
</nav>

<div class="container py-4">
    <h1>CONTACT US</h1>
    <h3>Customer Support</h3>
    <p>If you’re experiencing problems or have questions about our website or the buying process, email: <a href="mailto:support@findwine.com">support@findwine.com</a></p>
    <h3>Merchants</h3>
    <p>If you’re an online retailer and want to get in touch about partnering with us, email: <a href="mailto:merchants@findwine.com">merchants@findwine.com</a></p>
    <h3>Producers</h3>
    <p>If you’re a producer and want to get in touch about partnership or promotional opportunities, email: <a href="mailto:producers@findwine.com">producers@findwine.com</a></p>
    <h3>Media</h3>
    <p>For press queries or interviews, email: <a href="mailto:laura@locomedia.co.za">laura@locomedia.co.za</a></p>
	<h3>Advertisers</h3>
    <p>Advertisers interested in collaborating with us, email: <a href="mailto:advertisers@findwine.com">advertisers@findwine.com</a></p>
</div>
{% endblock %}
