{% extends "wine/base.html" %}
{% block content %}
<div class="container py-4">
    <h1>CONTACT US</h1>
    <h3>Customer Support</h3>
    <p>If you’re experiencing problems or have questions about our website or the buying process, email: <a href="mailto:support@findwine.com">support@findwine.com</a></p>
    <h3>Merchants</h3>
    <p>If you’re an online retailer and want to get in touch about partnering with us, email: <a href="mailto:merchants@findwine.com">merchants@findwine.com</a></p>
    <h3>Producers</h3>
    <p>If you’re a producer and want to get in touch about partnership or promotional opportunities, email: <a href="mailto:producers@findwine.com">producers@findwine.com</a></p>
    <h3>Media</h3>
    <p>For press queries or interviews, email: <a href="mailto:laura@locomedia.co.za">laura@locomedia.co.za</a></p>
	<h3>Advertisers</h3>
    <p>Advertisers interested in collaborating with us, email: <a href="mailto:advertisers@findwine.com">advertisers@findwine.com</a></p>
</div>
{% endblock %}
