{% extends "wine/base.html" %}
{% load staticfiles %}
{% block content %}

{% include 'wine/partials/search_nav.html' %}
{% include 'wine/partials/mobile_nav.html' %}

<div class="findwine_contact-banner">
  <div class="findwine_about-heading-1">Partners and APIs</div>
</div>
<div class="findwine_about-content-container-outer findwine_about-content-container-outer-contact">
  <div class="container">
      <div class="findwine_about-content-2 findwine_about-content-2-single findwine_terms-margin">
          <h2>Pricing Widget</h2>
          <p class="findwine_contact-paragraph">
              Our pricing widget can be embedded on any page using the details below.
          </p>
          <h4>
              1. Initialize JavaScript
          </h4>
          <p class="findwine_contact-paragraph">
              Somewhere in your site's code - preferably in a shared file like a base template
              add the following code snippet:
          </p>
          <pre class="findwine_contact-paragraph"><code>
              &lt;script src=&quot;https://findwines3a.s3.amazonaws.com/js/price-widget-v1-bundle.js&quot;&gt;&lt;/script&gt;
              &lt;script&gt;
                  &nbsp;&nbsp;var findwinePartnerId = '{YOUR_FINDWINE_PARTNER_ID}';
                  &nbsp;&nbsp;document.addEventListener('DOMContentLoaded', function() {
                      &nbsp;&nbsp;&nbsp;&nbsp;FindWine.init(findwinePartnerId);
                  &nbsp;&nbsp;}, false);
              &lt;/script&gt;
          </code></pre>
          <p class="findwine_contact-paragraph">
              Your Partner ID can be obtained from your findwine representative.
          </p>
          <h4>
              2. Embed HTML
          </h4>
          <p class="findwine_contact-paragraph">
              Now, wherever you want to display the wine price widget you can paste the following HTML code.
              Note that there are two different formats&mdash;one for a button with a popup modal and another for a directly
              embedded listing. See <a href="{% url 'wine:price_widget_test' %}">example demo here</a>:
          </p>
          <pre class="findwine_contact-paragraph"><code>
              &lt;!-- for a popup "buy" button --&gt;
              &lt;div class=&quot;findwine-price-widget&quot; data-findwine-id=&quot;{wine-id}&quot; data-findwine-is-modal &gt;&lt;/div&gt;
          </code></pre>
          <pre class="findwine_contact-paragraph"><code>
              &lt;!-- or, for directly embedded listings --&gt;
              &lt;div class=&quot;findwine-price-widget&quot; data-findwine-id=&quot;{wine-id}&quot; &gt;&lt;/div&gt;
          </code></pre>
          <p class="findwine_contact-paragraph">
              The <code>wine-id</code> that should be used can be copied from the URL of the wine listing
              on <a href="https://www.findwine.com/">findwine.com</a>.
              For example, to list <a href="https://www.findwine.com/wine/tokara-cabernet-sauvignon-2014/">Tokara Cabernet Sauvignon 2014</a>
              with a popup button you would use the following code snippet:
          </p>
          <pre class="findwine_contact-paragraph"><code>
              &lt;div class=&quot;findwine-price-widget&quot; data-findwine-id=&quot;<strong>tokara-cabernet-sauvignon-2014</strong>&quot; data-findwine-is-modal &gt;&lt;/div&gt;
          </code></pre>
      </div>
  </div>
</div>
{% endblock %}
{% block page_scripts %}
<script>
  $(function () {
    // show nav
    $('#top').show();
  });
</script>
{% endblock %}
