{% extends "wine/base.html" %}
{% load staticfiles %}
{% block content %}

<!-- Nav -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-new search-page-content" id="top">
  <div class="container findwine_nav--menu">
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <span>
          <img src="{% static 'wine/images/SVGs/menu-black.svg' %}" class="findwine_menu-button">
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active nav-item-new">
          <a class="nav-link nav-link-new" href="{% url 'wine:search' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-new">
          <a class="nav-link nav-link-new" href="{% url 'content:about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="findwine_nav-logo search-page-content">
    <a href="{% url 'wine:search' %}"><img src="{% static 'wine/images/SVGs/logo-black.svg' %}"
                                           class="d-inline-block align-top findwine_nav-logo-icon" alt="FindWine"></a>
  </div>
</nav>
<!-- Modal - Mobile Nav -->
<div class="modal left fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog findwine_modal-nav" role="document">
    <div class="modal-content findwine_modal-nav-content">
      <div class="modal-header findwine_modal-nav-header">
        <button type="button" class="close findwine_modal-nav-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{% static 'wine/images/SVGs/close.svg' %}"
                                        class="findwine_menu-button"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'wine:search' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'content:about' %}">About</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer findwine_modal-nav-footer">
        <div class="findwine_modal-nav-footer-links">
          <ul class="findwine_modal-nav-footer-links-ul">
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:contact' %}">Contact Us<span
                class="sr-only">(current)</span></a>
            </li>
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:terms' %}">Privacy & Terms</a>
            </li>
          </ul>
        </div>
        <div class="findwine_modal-nav-footer-social">
          <a href="https://www.instagram.com/findwinesa/" target="_blank" class="findwine_footer--flex-right">
            <!-- This is a placeholder image - remember to replace -->
            <img src="{% static 'wine/images/SVGs/instagram-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://twitter.com/FindWineSA" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/twitter-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://www.facebook.com/FindWineSA/" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/facebook-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="findwine_contact-banner">
  <div class="findwine_about-heading-1">Privacy & Terms</div>
</div>

<div class="findwine_about-content-container-outer findwine_about-content-container-outer-contact">
  <div class="container">
    <div class="findwine_about-content-2 findwine_about-content-2-single findwine_terms-margin">
      <div class="findwine_about-heading-4">Privacy Policy</div>
      <div class="findwine_contact-paragraph">
        FindWine (Pty) Ltd, registration number: 2007/013797/07 is committed to ensuring the protection of the privacy
        of
        all visitors to our website at www.findwine.com.<br>
        Use of the Website and Services requires acceptance of the "Policy".
      </div>
      <div class="findwine_contact-paragraph">
        We may amend this Policy at any time by posting a revised version on our Website.
      </div>
      <div class="findwine_contact-paragraph">
        As a visitor you agree that we may electronically collect, store and use your information.
      </div>
      <div class="findwine_contact-paragraph">
        We collect information voluntarily provided by you and automatically gathered via various technologies including
        cookies or web beacons.
      </div>
      <div class="findwine_contact-paragraph">
        We may use any information provided by you for: such purposes as indicated to you at the time you agree to
        provide
        such information; monitor aggregate usage metrics such as total number of visitors; track the status of any
        referrals to our business partners (e.g. advertisers). This Policy covers the use of cookies by FindWine only
        and
        does not cover the use of cookies or widgets by any third party advertisers on the Website.
      </div>
      <div class="findwine_contact-paragraph">
        We may share your personal information with our service providers under contract who help with parts of our
        business
        operations (fraud prevention, marketing, technology services). Our contracts dictate that these service
        providers
        only use your information in connection with the services they perform for us and not for their own benefit.
      </div>
      <div class="findwine_contact-paragraph">
        You can review and edit any of your personal information by contacting us by using the links on the Contact Us
        page.
      </div>
      <div class="findwine_contact-paragraph">
        Information that cannot be traced back to you specifically or statistical information collected and compiled by
        us
        is not regarded as personal information. We may compile, use, share and otherwise process such information as we
        deem fit.
      </div>
    </div>
    <div class="findwine_detail-heading hidden-lg-up"></div>
    <div class="findwine_about-content-2 findwine_about-content-2-single findwine_about-content-2-single-last findwine_terms-margin">
      <div class="findwine_about-heading-4">Terms & Conditions</div>
      <div class="findwine_contact-paragraph">
        www.findwine.com (the "Website") is owned and operated by FindWine (Pty) Ltd, registration number:
        2017/281725/07
        (hereinafter referred to as "FindWine").<br>
        Visitors to the website are bound by this User Agreement ("User Agreement"). If you do not agree to this User
        Agreement, do not continue to use the Website. Your continued use of the Website will constitute acceptance of
        the
        User Agreement unmodified by you. By accepting this User Agreement, you are deemed to have read and agreed with
        all
        the provisions thereof.<br>
        This User Agreement applies to users who are consumers for purposes of the Consumer Protection Act, 68 of 2008
        (the
        “CPA”) and Electronic Communications and Transactions Act 2002 (“ECT Act”).<br>
        Nothing in this User Agreement is intended or must be understood to unlawfully restrict, limit or avoid any
        right
        or
        obligation, as the case may be, created for either you or FindWine in terms of the CPA or ECT Act.
      </div>
      <div class="findwine_contact-paragraph">
        FindWine operates the Website through which all Users are able to compare products offered for sale by certain
        third
        parties ("Merchants") as well as proprietary ratings of such Merchants and/or their products.<br>
        The Website also provides links to the websites of the Merchants and may include advertising relating to
        Merchants,
        other third parties, and their products.
      </div>
      <div class="findwine_contact-paragraph">
        Note that the Merchants and products listed on the Website do not necessarily represent all suppliers of the
        relevant products, or all products available, in the market, and FindWine does not guarantee that the prices and
        ratings of products and/or Merchants, or any other information specified on the Website, are accurate or
        error-free.
        FindWine also makes no guarantees as to the content or accuracy of any external websites to which you may be
        able
        to
        link from the Website.<br>
        FindWine shall take all reasonable efforts to accurately reflect the description, availability, purchase price
        and
        delivery charges of products on the Website. However, should there be any errors of whatsoever nature on the
        Website
        we shall not be liable for any loss, claim or expense relating to a transaction based on any error.
      </div>
      <div class="findwine_contact-paragraph">
        Each Merchant sets their own returns policy. You should ensure you review and accept the applicable policy
        before
        completing your order on a Merchant's website. By ordering an item, you are deemed to have read and agreed with
        the
        Merchant’s Returns Policy.
      </div>
      <div class="findwine_contact-paragraph">
        FindWine's role is limited to providing the platform through which you can view and compare products offered by
        different Merchants. In some instances you will be able to follow links through to such Merchants' websites
        where
        you may be able to purchase such products.<br>
        FindWine does not vouch for, or make any warranties in relation to, any Merchant or its products. Neither
        FindWine
        nor any of its agents or representatives shall be liable for any damage, loss or liability of whatsoever nature
        arising in relation to any Merchant. Without detracting from the generality of the aforegoing, FindWine will not
        be
        liable in any way whatsoever in relation to any purchases you may make from any Merchant(s) directly. In
        purchasing
        products from any Merchant directly, you are contracting with the relevant Merchant to purchase such Merchant(s)
        product(s) and the Merchant is solely responsible for the fulfilment of your purchase from it. You are solely
        responsible for evaluating the price, quality and legitimacy of any products listed on the Website and FindWine
        does
        not guarantee that any Merchant or other party involved in transactions arising from listings or advertisements
        placed on the Website will act in good faith.<br>
        FindWine strives to ensure that the information on the Website relating to any Merchant or its products is
        accurate
        and lawful. Should you suspect that a Merchant is selling illegal products, conducting fraudulent activity, or
        otherwise misleading Users in any way, please notify FindWine thereof by using <a class="findwine_about-link"
                                                                                          href="{% url 'content:contact' %}">http://www.findwine.com/contact/</a>
        so that FindWine can take such measures as
        it deems appropriate.
      </div>
      <div class="findwine_contact-paragraph">
        FindWine makes no representations or warranties of any nature whatsoever in relation to the Website. FindWine
        may
        suspend access to the Website without notice at any time and accepts no liability for any consequences of the
        Website being unavailable for any reason.<br>
        All risk and liability arising from your use of the Website vests with you and neither FindWine nor any of its
        agents or representatives shall be liable for any damage, loss or liability of whatsoever nature arising from
        the
        use or inability to use this Website.<br>
        If FindWine is found, despite the aforegoing disclaimers, to be liable for any reason, its liability to you or
        any
        third party concerned is limited to ZAR100 (one hundred South African Rand). Under no circumstances will
        FindWine
        be
        liable for any indirect or special damages, consequential loss, loss of profits or loss of data.
      </div>
      <div class="findwine_contact-paragraph">
        You hereby indemnify and hold harmless FindWine, its affiliates, officers, directors and employees, against any
        and
        all loss, expense or damage they may suffer, or third party claims which may be made against them, which arise
        (directly or indirectly) from or in relation to your conduct on the Website or your failure to comply with this
        User
        Agreement (including the Privacy Policy), or your violation of any law or the rights of a third party relating
        to
        your use of the Website.
      </div>
      <div class="findwine_contact-paragraph">
        Any and all copyright subsisting in the Website, vests in FindWine and all rights not expressly granted are
        reserved.<br>
        All the content, trademarks and data on this Website, including but not limited to, software, databases, text,
        graphics, icons, hyperlinks, private information, designs and agreements, are the property of or licensed to
        FindWine and as such are protected from infringement by local and international legislation and treaties. Note
        that
        the Website may contain images, names, codes or other content that constitute the trademarks, logos, or
        copyrighted
        material owned by Merchants or other third parties and you may not copy or use same without their
        permission.<br>
        You may only download, view and print content from this Website for private and non-commercial purposes. To
        obtain
        permissions for the commercial use of any content on this Website contact us at <a class="findwine_about-link"
                                                                                           href="{% url 'content:contact' %}">http://www.findwine.com/contact/</a>
        for assistance.
      </div>
      <div class="findwine_contact-paragraph">
        Any person that delivers or attempts to deliver any damaging code to this Website or attempts to gain
        unauthorised
        access to any page on this Website shall be prosecuted and civil damages shall be claimed in the event that
        FindWine
        suffers any damage or loss.
      </div>
      <div class="findwine_contact-paragraph">
        No person, business or web site may link to any page on this Website, or use any technology to search and gain
        information from the Website, without the prior written permission of FindWine. Such permission could be
        obtained
        by
        contacting FindWine here: <a class="findwine_about-link" href="{% url 'content:contact' %}">http://www.findwine.com/contact/</a><br>
        You agree to use the Website in accordance with this User Agreement and all applicable laws, regulations and
        ordinances.<br>
        You acknowledge that if you use the Website in a manner that violates the aforegoing provisions, FindWine may
        incur
        liability and/or suffer damages and accordingly in the event of any such violation, your access to the Website
        will
        be subject to limitation, suspension or immediate termination; you will be subject to damages and other
        penalties,
        including criminal prosecution where applicable; and you will be held liable to FindWine for any and all damages
        suffered by FindWine and you shall reimburse FindWine for any and all costs, expenses, and fines levied on it by
        third parties as a result of your activities.
      </div>
      <div class="findwine_contact-paragraph">
        FindWine may change this User Agreement or any part thereof at any time with or without notice. It is your
        responsibility to visit the Website to see whether the User Agreement has been amended and ensure that you are
        satisfied with the amendments. Should you not be satisfied with the amendments, you must refrain from using the
        Website in any way.
      </div>
      <div class="findwine_contact-paragraph">
        This Website is controlled and operated from the Republic of South Africa and therefore governed by South
        African
        law and you and FindWine submit to the non-exclusive jurisdiction of the South African courts.
      </div>
      <div class="findwine_contact-paragraph">
        FindWine chooses as its address for all purposes under this User Agreement: 4 Tafelsicht, 21 Florida Rd, Cape
        Town,
        Western Cape, 8001, South Africa.
      </div>
      <div class="findwine_contact-paragraph">
        As required by the Electronic Communications and Transactions Act, FindWine's information is as follows<br>
        Full name: FindWine (Pty) Ltd, registered in South Africa, registration number 2017/281725/07<br>
        Main business: Online service provider (price comparison)<br>
        Address: 4 Tafelsicht, 21 Florida Rd, Cape Town, Western Cape, 8001, South Africa<br>
        Office bearers: L Rawden<br>
        Website: http://www.findwine.com<br>
        Official email address: <a class="findwine_about-link" href="{% url 'content:contact' %}">http://www.findwine.com/contact/</a>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="findwine_detail-heading hidden-lg-up"></div>
{% endblock %}
