//Variables

// Colours

$primary-green: #00ad68;
$primary-text: #333e48;
$white: #ffffff;

$light-grey: #c8ced2;
$background-grey: #c8ced2;

// Wine colours

$red-wine: #b22626;
$white-wine: #fae78c;
$rose-wine: #f8a99f;
$port-wine: #d68730;
$bubbly-wine: #f7e1ba;

// Award/rating colours
$gold: #c9a564;
$silver: #a5b2b3;
$bronze: #b5664a;

// Fonts

$primary-font: 'Gotham', sans-serif;

// Mixins

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 678px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: 1280px) {
      @content;
    }
  }

}

// Custom styling

.navbar {

  position: absolute;
  background-color: transparent;
  width: 100%;

  @include breakpoint(lg) {

    padding: 40px 0px;

  }

  &-toggler {
    border: none;
    outline: none !important;
    padding-left: 0px;
  }

  .form-control::-webkit-input-placeholder {

    color: $white;
    opacity: 1;

  }

  .form-control:-moz-placeholder { /* Firefox 18- */

    color: $white;
    opacity: 1;

  }

  .form-control::-moz-placeholder { /* Firefox 19+ */

    color: $white;
    opacity: 1;

  }

  .form-control:-ms-input-placeholder {

    color: $white;
    opacity: 1;

  }

}

.nav-link {

  font-family: $primary-font;
  color: $white !important;
  font-size: 14px;
  padding-right: 40px !important;
  padding-left: 0px !important;

  &:hover {
    color: $primary-green !important;
  }

}

.form-control:focus {
  outline: none;
  border-color: rgba(0,0,0,.15);
}

// Slider styles
.rc-slider {
  width: 90% !important;
}

.rc-slider-rail {
  background: $light-grey;
}

.rc-slider-track {
  background: $primary-green !important;
}

.rc-slider-rail, .rc-slider-track{
  height: 14px !important;
}

.rc-slider-handle {
  background: url("images/SVGs/slider.svg") no-repeat center center;
  width: 34px !important;
  height: 34px !important;
  border: 1px solid $light-grey !important;
  margin-top: -10px !important;
}

// Remove background from buttons

.btn-secondary:hover{
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.findwine {

  &_nav--menu {

    margin-left: 0px;

    @include breakpoint(lg) {
      margin-left: auto;
    }
  }

  &_menu-icon {

    padding-top: 20px;
    color: $primary-text;
    outline: none;

  }

  &_menu-button {

    fill: $white;
    height: 12px;
    width: 18px;
    border: none;

  }

  &_nav-icon {

    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;

  }

  &_search-field {

    background-color: rgba(255, 255, 255, 0.3);
    color: $primary-text;
    margin-right: 0px !important;
    border: transparent;
    border-radius: 4px 0px 0px 4px;

  }

  &_search-button {

    background-color: $primary-green;
    border: none;
    border-radius: 0px 4px 4px 1px;

  }

  &_search-icon {

    height: 18px;
    width: 18px;

  }

  &_logo-standard {

    width: 180px;
    object-fit: contain;
    padding: 12px 0px 11px 0px;

    @include breakpoint(lg) {

      width: 270px;
      margin-top: -15%;

    }

  }

  &_banner-main {

    height: 190px;
    width: 100%;
    background: url("images/background/rohit-tandon-67718@3x.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    @include breakpoint(md) {

      height: 300px;

    }

    @include breakpoint(lg) {

      height: 580px;

    }

  }

  &_banner-text {

    font-family: $primary-font;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    padding-top: 15%;
    padding-bottom: 5%;
    text-align: center;
    color: $white;

  }

  &_search-form {

    @include breakpoint(lg) {

      margin-top: -320px;
      padding: 20px 40px;
      background-color: white;

    }

  }

  &_heading-2 {

    font-family: $primary-font;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: $primary-text;
    padding-bottom: 14px;

  }

  &_heading-3 {

    font-family: $primary-font;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    color: $primary-text;
    display: block;

  }

  &_content-paragraph {

    font-family: $primary-font;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: $primary-text;
    padding-bottom: 14px;

  }

  &_content-link{

    color: $primary-green;
    font-family: $primary-font;
    font-size: 13px;
    font-weight: 500;
    text-align: left;
    cursor: pointer;
    text-decoration: none;

  }

  &_content {

    background-color: #f4f5f5;
    border: solid 1px #dbe0e4

  }

  &_content-container {

    padding: 40px 20px;

  }

  &_content-image {

    width: 220px;

  }

  &_button {

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: $primary-green;

    @include breakpoint(md) {

      width: auto;

    }

    &-outer {

      display: flex;
      justify-content: center;

      @include breakpoint(md) {
        display: flex;
        justify-content: center;
      }
    }

    &-category {

      -webkit-tap-highlight-color: rgba(0,0,0,0);
      padding: 0px;
      color: $primary-text;
      font-size: 13px;
      font-family: $primary-font;
      width: 60px;
      height: 85px;
      margin-right: 10px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal;
      margin-bottom: 15px;

      @include breakpoint(sm) {
        width: 80px;
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &--selected {
        background-color: $white;
      }

    }

  }

  &_svg {

    margin-top: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 35px;

  }

  &_button-type {

    margin: 9px 0px 6px 0px;
    word-break: break-word;

    p {
      margin-bottom: 0px !important;
    }

  }

  &_button-bar {

    height: 4px;
    border-radius: 2px;

    &--selected {

      &red {
        background-color: $red-wine;
      }

      &white {
        background-color: $white-wine;
      }

      &bubbly {
        background-color: $bubbly-wine;
      }

      &rose {
        background-color: $rose-wine;
      }

      &dessert {
        background-color: $port-wine;
      }

    }

  }

  &_newsletter-svg {

    width: 58px;
    height: 58px;
    float: left;
    margin: 10px 15px 0px 0px;

    @include breakpoint(lg) {

      margin: 5px 20px 0px 0px;

    }

  }

  &_subscribe {

    padding-top: 30px;

    @include breakpoint(lg) {

      padding-top: 3em;

    }

    .form-inline {

      @include breakpoint(lg) {

        float: right;

      }

    }

    &--flex {
      display: flex;
      justify-content: center;
    }

  }

  &_newsletter-heading {

    font-family: $primary-font;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: $primary-text;
    margin-bottom: 0px;
    padding-top: 15px;

  }

  &_newsletter-paragraph {

    font-family: $primary-font;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #86929a;

  }

  &_newsletter-subscribe {

    color: $primary-text;
    margin-right: 0px !important;
    border: 1px solid #86929a;
    border-radius: 4px 0px 0px 4px;
    width: auto;
    opacity: 0.5;

  }

  &_newsletter-button {

    background-color: $primary-green;
    border: 1px solid $primary-green;
    border-radius: 0px 4px 4px 1px;
    color: $white;
    padding-left: 12px;
    padding-right: 12px;

  }

  // Footer styling

  &_footer {
    background-color: $primary-text;
    height: auto;

    &--logo {

      height: 30px;
      margin-right: 20px;

    }

    &--text {
      color: $white;
      font-family: $primary-font;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;

      &-spacing {
        margin-right: 20px;
        display: inline-block;

        @include breakpoint(lg) {
          margin-right: 30px;
        }
      }
    }

    &--flex {
      display: flex;
      align-items: center;

      &-right {
        float: right;
        color: $white;
      }
    }

    &--icon {
      height: 30px;
      width: 30px;
      margin-left: 10px;

    }
  }

  &_price-input {
    display: inline-block;
    width: 50%;
    margin-top: 30px;

    @include breakpoint(lg) {
      width: 100%;
      margin-top: 0px;
    }

  }

  // Wine detail page styling

  &_producer-main {
    text-decoration: none;
    font-family: $primary-font;
    color: $primary-text;
    font-size: 18px;
    font-weight: bold;
  }

  &_producer-vintage {
    font-family: $primary-font;
    color: $primary-text;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
  }

  &_category {
    font-family: $primary-font;
    color: $primary-text;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 6px;
  }

  &_place {
    font-family: $primary-font;
    color: $primary-text;
    font-size: 12px;
  }

  &_rating {
    font-family: $primary-font;
    font-size: 14px;
    line-height: 28px;
    //font-weight: bold;
    text-align: center;
    color: $white;
  }

  &_rating-box {
    background-color: $gold;
    height: auto;
    width: 40px;
    border-radius: 5px;
    display: block;
    margin-top: 25px;
  }

  &_award-list {
    list-style-type: none;
    font-family: $primary-font;
    font-size: 12px;
    color: $light-grey;
    display: inline-block;
  }

  &_award-list-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $gold;
    margin-right: 5px;
    display: inline-block;
  }

  &_list-group {
    display: block;
  }

}

.min_price {

  display: inline-flex;
  align-items: center;

  input {
    width: 75px;
    margin-left: 15px;
  }

}

.max_price {

  display: inline-flex;
  align-items: center;

  input {
    width: 75px;
    margin-left: 15px;
    outline: none !important;
  }

}




