body {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  color: #333e48; }

.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%; }
  @media (min-width: 1024px) {
    .navbar {
      padding: 40px 0px; } }
  .navbar-toggler {
    border: none;
    outline: none !important;
    padding-left: 0px; }
  .navbar-new {
    position: relative;
    height: 56px;
    border: 1px solid #e9e9e9;
    display: flex;
    align-items: center; }
  .navbar .form-control::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1; }

.nav-link {
  font-family: "Gotham A", "Gotham B";
  color: #ffffff !important;
  font-size: 14px;
  font-weight: 500;
  padding-right: 40px !important;
  padding-left: 0px !important;
  cursor: pointer; }
  .nav-link:hover {
    color: #00ad68 !important; }
  .nav-link-new {
    color: #333e48 !important; }

.nav-item-new {
  z-index: 1000;
  background-color: #ffffff; }

.form-control:focus {
  outline: none;
  border-color: #00ad68; }

a:focus, a:hover {
  color: #ffffff;
  text-decoration: none; }

.btn.focus, .btn:focus {
  box-shadow: none; }

button:focus, button:hover {
  outline: none; }

.btn-secondary:hover {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none; }

.table-sm td, .table-sm th {
  padding: 0.3rem 15px; }

.search-form {
  padding: 0px 15px; }

.footer {
  position: absolute;
  margin-top: 0px; }

.rc-slider {
  width: 90% !important; }
  @media (min-width: 1024px) {
    .rc-slider {
      margin-top: 20px;
      margin-left: 10px; } }

.rc-slider-rail {
  background: #c8ced2; }

.rc-slider-track {
  background: #00ad68 !important; }

.rc-slider-rail, .rc-slider-track {
  height: 14px !important; }

.rc-slider-handle {
  background: url("images/SVGs/slider.svg") no-repeat center center;
  width: 34px !important;
  height: 34px !important;
  border: 1px solid #c8ced2 !important;
  margin-top: -10px !important; }

.min_price {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px; }
  .min_price input {
    width: 75px;
    margin-left: 15px; }

.max_price {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px; }
  .max_price input {
    width: 75px;
    margin-left: 15px;
    outline: none !important; }

@media (min-width: 1024px) {
  .category {
    margin-top: 6px; } }

@media (min-width: 1024px) {
  .sub_category {
    margin-top: 6px; } }

.price-range {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  color: #86929a; }
  @media (min-width: 1024px) {
    .price-range {
      color: #333e48;
      margin: 0px 7px; } }

.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #00ad68 !important;
  box-shadow: none !important; }

.Select-option.is-focused {
  background-color: rgba(0, 173, 104, 0.6) !important;
  color: #333e48 !important; }

.Select-option.is-selected {
  background-color: rgba(0, 173, 104, 0.4) !important;
  color: #333e48 !important; }

.Select--multi .Select-value {
  color: #333e48 !important;
  background-color: #ffffff !important;
  border: none !important; }

.Select--multi .Select-value-icon {
  border: none !important; }

.Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
  color: #333e48 !important;
  background-color: #ffffff !important;
  outline: none !important; }

.findwine_nav--menu {
  margin-left: 0px;
  z-index: 1000; }
  @media (min-width: 1024px) {
    .findwine_nav--menu {
      margin-left: 260px; } }
.findwine_nav-logo {
  width: 100%;
  text-align: center;
  position: absolute; }
  .findwine_nav-logo-none {
    display: none; }
  @media (min-width: 1024px) {
    .findwine_nav-logo {
      text-align: left;
      margin-left: 40px;
      width: 185px;
      height: 40px; } }
.findwine_nav-logo-icon {
  width: 146px;
  height: 33px; }
.findwine_menu-icon {
  padding-top: 20px;
  color: #333e48;
  outline: none; }
.findwine_menu-button {
  fill: #ffffff;
  height: 12px;
  width: 18px;
  border: none; }
  .findwine_menu-button-none {
    display: none; }
.findwine_nav-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }
.findwine_search-field {
  background-color: rgba(255, 255, 255, 0.3);
  color: #333e48;
  margin-right: 0px !important;
  border: transparent;
  border-radius: 4px 0px 0px 4px; }
.findwine_search-button {
  background-color: #00ad68;
  border: none;
  border-radius: 0px 4px 4px 1px; }
.findwine_search-icon {
  height: 18px;
  width: 18px; }
.findwine_logo-standard {
  width: 180px;
  object-fit: contain;
  padding: 12px 0px 11px 0px; }
  @media (min-width: 1024px) {
    .findwine_logo-standard {
      width: 270px;
      margin-top: 151px;
      height: 60px;
      padding: 0px;
      margin-bottom: 31px; } }
.findwine_banner-main {
  height: 190px;
  width: 100%;
  background: url("images/background/rohit-tandon-67718@3x.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }
  @media (min-width: 678px) {
    .findwine_banner-main {
      height: 300px; } }
  @media (min-width: 1024px) {
    .findwine_banner-main {
      height: 580px;
      margin-bottom: 0px; } }
.findwine_banner-text {
  font-family: "Gotham A", "Gotham B";
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
  color: #ffffff; }
@media (min-width: 1024px) {
  .findwine_search-form {
    margin-top: -320px;
    padding: 40px;
    background-color: white; } }
.findwine_heading-2 {
  font-family: "Gotham A", "Gotham B";
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  padding-bottom: 14px; }
.findwine_heading-3 {
  font-family: "Gotham A", "Gotham B";
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  display: block; }
@media (min-width: 1024px) {
  .findwine_subcategory-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }
.findwine_subcategory {
  padding: 0px; }
  @media (min-width: 1024px) {
    .findwine_subcategory {
      padding: 0px 15px; } }
.findwine_content-paragraph {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  text-align: left;
  color: #333e48;
  padding-bottom: 14px; }
.findwine_content-link {
  color: #00ad68;
  font-family: "Gotham A", "Gotham B";
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  text-decoration: none; }
.findwine_content {
  background-color: #f4f5f5;
  border: solid 1px #dbe0e4; }
.findwine_content-container {
  padding: 35px 0px; }
.findwine_content-image {
  width: 220px; }
.findwine_button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #00ad68;
  height: 52px;
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 23px; }
  @media (min-width: 678px) {
    .findwine_button {
      width: auto; } }
  @media (min-width: 1024px) {
    .findwine_button {
      margin-top: 38px; } }
  .findwine_button-outer {
    display: flex;
    justify-content: center; }
    @media (min-width: 678px) {
      .findwine_button-outer {
        display: flex;
        justify-content: center; } }
  .findwine_button-category {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0px;
    color: #333e48;
    font-size: 13px;
    font-family: "Gotham A", "Gotham B";
    width: 60px;
    height: 85px;
    margin-right: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-bottom: 15px; }
    @media (min-width: 576px) {
      .findwine_button-category {
        width: 80px;
        margin-right: 15px; } }
    .findwine_button-category:last-child {
      margin-right: 0px; }
    .findwine_button-category--selected {
      background-color: #ffffff; }
.findwine_svg {
  margin-top: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35px; }
.findwine_button-type {
  margin: 9px 0px 6px 0px;
  word-break: break-all; }
  .findwine_button-type p {
    margin-bottom: 0px !important; }
.findwine_button-bar {
  height: 4px;
  border-radius: 2px; }
  .findwine_button-bar--selectedred {
    background-color: #b22626; }
  .findwine_button-bar--selectedwhite {
    background-color: #fae78c; }
  .findwine_button-bar--selectedbubbly {
    background-color: #f7e1ba; }
  .findwine_button-bar--selectedrose {
    background-color: #f8a99f; }
  .findwine_button-bar--selecteddessert {
    background-color: #d68730; }
.findwine_newsletter-svg {
  width: 58px;
  height: 58px;
  float: left;
  margin-right: 15px; }
  @media (min-width: 1024px) {
    .findwine_newsletter-svg {
      margin-right: 20px; } }
.findwine_subscribe {
  padding: 30px 0px; }
  @media (min-width: 1024px) {
    .findwine_subscribe {
      padding: 3em 0px; } }
  @media (min-width: 1024px) {
    .findwine_subscribe .form-inline {
      float: right; } }
  .findwine_subscribe--flex {
    display: flex;
    justify-content: center; }
.findwine_newsletter-heading {
  font-family: "Gotham A", "Gotham B";
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  margin-bottom: 0px;
  padding-top: 0px; }
.findwine_newsletter-paragraph {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  text-align: left;
  color: #86929a; }
.findwine_newsletter-subscribe {
  color: #333e48;
  margin-right: 0px !important;
  border: 1px solid #86929a;
  border-radius: 4px 0px 0px 4px;
  opacity: 0.5;
  display: inline-block;
  width: auto;
  height: 40px; }
  @media (max-width: 575px) {
    .findwine_newsletter-subscribe {
      width: 166px; } }
.findwine_newsletter-button {
  background-color: #00ad68;
  border: 1px solid #00ad68;
  border-radius: 0px 4px 4px 1px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -6px !important;
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  font-weight: 500;
  height: 40px; }
  @media (max-width: 575px) {
    .findwine_newsletter-button {
      margin-top: 6px !important; } }
.findwine_mailchimp-holder {
  width: 100%;
  display: flex;
  justify-content: center; }
.findwine_footer {
  background-color: #333e48;
  height: auto; }
  .findwine_footer--logo {
    height: 30px;
    margin-right: 20px; }
  .findwine_footer--text {
    color: #ffffff;
    font-family: "Gotham A", "Gotham B";
    font-size: 12px;
    font-weight: 500;
    line-height: 30px; }
    .findwine_footer--text-spacing {
      margin-right: 20px;
      display: inline-block; }
      @media (min-width: 1024px) {
        .findwine_footer--text-spacing {
          margin-right: 30px; } }
  .findwine_footer--flex {
    display: flex;
    align-items: center; }
    .findwine_footer--flex-right {
      float: right;
      color: #ffffff; }
  .findwine_footer--icon {
    height: 30px;
    width: 30px;
    margin-left: 10px; }
.findwine_price-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px; }
  .findwine_price-input .form-group:active, .findwine_price-input .form-group:hover, .findwine_price-input .form-group:focus {
    outline: none; }
  @media (min-width: 1024px) {
    .findwine_price-input {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      justify-content: flex-end; } }
.findwine_detail-image {
  height: 200px;
  max-width: 68px;
  margin: 0px 34px 28px 25px; }
.findwine_detail-images-desktop {
  display: flex;
  align-items: flex-start;
  justify-content: center; }
.findwine_detail-images-small {
  display: inline-block;
  margin-right: 20px; }
.findwine_detail-image-1 {
  width: 90px;
  height: 90px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center; }
  .findwine_detail-image-1:hover, .findwine_detail-image-1:active, .findwine_detail-image-1:focus {
    border: 1px solid #00ad68;
    outline: none; }
  .findwine_detail-image-1 img {
    max-height: 58px; }
.findwine_detail-image-2 {
  width: 90px;
  height: 90px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center; }
  .findwine_detail-image-2:hover, .findwine_detail-image-2:active, .findwine_detail-image-2:focus {
    border: 1px solid #00ad68;
    outline: none; }
  .findwine_detail-image-2 img {
    max-height: 58px; }
.findwine_detail-image-main--holder {
  width: 380px;
  height: 450px;
  border-radius: 2px;
  border: solid 1px #dadada;
  display: flex;
  align-items: center;
  justify-content: center; }
.findwine_detail-image-main {
  max-height: 318px; }
.findwine_producer a:active, .findwine_producer a:focus, .findwine_producer a:hover {
  color: #00ad68; }
.findwine_producer-main {
  text-decoration: none;
  font-family: "Gotham A", "Gotham B";
  color: #333e48;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500; }
  @media (min-width: 1024px) {
    .findwine_producer-main {
      color: #00ad68;
      font-size: 16px;
      margin-bottom: 15px; }
      .findwine_producer-main:active, .findwine_producer-main:hover, .findwine_producer-main:focus {
        text-decoration: underline; } }
.findwine_producer-vintage {
  font-family: "Gotham A", "Gotham B";
  color: #333e48;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 17px; }
  @media (min-width: 1024px) {
    .findwine_producer-vintage {
      font-size: 26px;
      margin-bottom: 15px; } }
.findwine_category {
  font-family: "Gotham A", "Gotham B";
  color: #333e48;
  font-size: 12px;
  line-height: 1.42;
  height: 17px;
  font-style: italic;
  margin-bottom: 8px; }
  @media (min-width: 1024px) {
    .findwine_category {
      font-style: normal;
      font-size: 14px;
      color: #86929a;
      margin-bottom: 17px; } }
.findwine_place {
  font-family: "Gotham A", "Gotham B";
  color: #333e48;
  font-size: 12px;
  line-height: 1.42;
  height: 17px;
  margin-bottom: 20px; }
  .findwine_place img {
    margin-right: 7px; }
  @media (min-width: 1024px) {
    .findwine_place {
      font-size: 14px;
      color: #86929a;
      margin-bottom: 88px; } }
@media (min-width: 1024px) {
  .findwine_awards-holder {
    display: flex;
    justify-content: flex-start; } }
.findwine_rating {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px; }
.findwine_rating-box {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 1024px) {
    .findwine_rating-box {
      margin-top: 0px;
      margin-right: 30px; } }
.findwine_rating-box-gold {
  background-color: #c9a564; }
.findwine_rating-box-sliver {
  background-color: #a5b2b3; }
.findwine_rating-box-bronze {
  background-color: #b5664a; }
.findwine_awards-container {
  margin-top: 10px; }
  @media (min-width: 1024px) {
    .findwine_awards-container {
      margin-top: 0px;
      margin-bottom: 40px; } }
.findwine_award-list {
  list-style-type: none;
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  color: #86929a;
  display: block; }
  @media (min-width: 1024px) {
    .findwine_award-list {
      display: table-cell;
      width: 194px; } }
.findwine_award-list-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333e48;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 2px; }
.findwine_award-heading {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #86929a;
  display: block;
  margin-bottom: 8px; }
.findwine_list-group {
  display: block; }
  @media (min-width: 1024px) {
    .findwine_list-group {
      display: inline-block; } }
.findwine_detail-nav {
  position: relative !important;
  height: 56px;
  border-bottom: 1px solid #dbe0e4;
  display: flex;
  align-items: center;
  padding: 6px 16px; }
.findwine_detail--menu-button {
  width: 25px;
  height: 13px; }
.findwine_detail-back {
  display: flex; }
.findwine_detail-nav--heading {
  font-family: "Gotham A", "Gotham B";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  display: inline-block;
  width: 100%; }
.findwine_detail-padding {
  padding-top: 30px; }
.findwine_detail-right-arrow {
  height: 8px;
  width: 10px; }
.findwine_detail-rowHeight {
  height: 113px;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .findwine_detail-rowHeight {
      height: auto;
      margin-left: 0px;
      margin-right: 0px;
      background-color: #ffffff;
      border: 1px solid #dbe0e4;
      border-radius: 4px;
      padding: 30px 15px;
      flex: 1; } }
.findwine_detail-expand {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 47px;
  border-top: 1px solid #dbe0e4;
  padding: 6px 16px; }
.findwine_detail-expand-button {
  color: #00ad68;
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  background: none;
  cursor: pointer; }
.findwine_detail-more-arrow {
  height: 7px;
  width: 12px;
  margin-top: -2px; }
.findwine_detail-less-arrow {
  height: 7px;
  width: 12px;
  margin-top: -2px;
  transform: rotate(180deg); }
.findwine_detail-heading {
  background-color: #f4f5f4;
  border-top: 1px solid #dbe0e4;
  border-bottom: 1px solid #dbe0e4;
  padding: 0px 15px;
  min-height: 20px; }
  @media (min-width: 1024px) {
    .findwine_detail-heading {
      background-color: transparent;
      border: none;
      padding: 0px; } }
.findwine_detail-header {
  font-family: "Gotham A", "Gotham B";
  color: #86929a;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: 31px;
  margin-bottom: 11px; }
  @media (min-width: 1024px) {
    .findwine_detail-header {
      margin-top: 0px;
      margin-bottom: 20px; } }
.findwine_detail-header--desktop {
  padding-top: 50px;
  margin-bottom: 24px; }
.findwine_detail-header--2 {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin: 26px 15px 13px 15px;
  color: #333e48; }
  @media (min-width: 1024px) {
    .findwine_detail-header--2 {
      margin: 0px 0px 20px 0px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.1px; } }
.findwine_detail-content {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  height: 43px;
  overflow: hidden; }
  @media (min-width: 1024px) {
    .findwine_detail-content {
      margin: 0px;
      font-size: 16px;
      line-height: 1.75;
      height: auto; } }
.findwine_detail-content-left {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 125px; }
  @media (min-width: 1024px) {
    .findwine_detail-content-left {
      padding: 0px !important;
      border: none !important;
      display: block;
      width: 100%;
      margin: 20px 0px 0px 0px; } }
.findwine_detail-content-right {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 250px; }
  @media (min-width: 1024px) {
    .findwine_detail-content-right {
      padding: 0px !important;
      border: none !important;
      display: block;
      width: 100%;
      font-weight: 500;
      margin: 0px;
      color: #333e48; } }
@media (min-width: 1024px) {
  .findwine_detail-list-inline-item {
    margin: 0px; } }
.findwine_detail-content-list {
  padding: 0.3rem 0px; }
.findwine_detail-list {
  align-items: flex-start; }
  @media (min-width: 1024px) {
    .findwine_detail-list {
      border: 1px solid #dbe0e4 !important;
      margin-bottom: 20px;
      max-width: 670px;
      padding: 20px;
      display: flex;
      justify-content: space-between; } }
.findwine_merchant-holder {
  width: 260px; }
  @media (min-width: 1024px) {
    .findwine_merchant-holder {
      width: auto; } }
.findwine_merchant-name {
  font-family: "Gotham A", "Gotham B";
  font-size: 16px;
  font-weight: 500;
  color: #333e48;
  margin-bottom: 5px; }
  @media (min-width: 1024px) {
    .findwine_merchant-name {
      display: inline-block;
      margin-right: 25px; } }
.findwine_merchant-unit {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  color: #86929a;
  margin-bottom: 15px; }
  @media (min-width: 1024px) {
    .findwine_merchant-unit {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 0px; } }
.findwine_merchant-delivery {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  font-style: italic;
  line-height: 1.42;
  color: #86929a;
  padding-right: 5px; }
  @media (min-width: 1024px) {
    .findwine_merchant-delivery {
      line-height: 1.5;
      font-style: normal; } }
.findwine_merchant-pricing {
  width: 71px; }
  @media (min-width: 1024px) {
    .findwine_merchant-pricing {
      width: auto; } }
.findwine_merchant-currency {
  display: inline-block;
  font-family: "Gotham A", "Gotham B";
  font-size: 16px;
  font-weight: 500; }
  @media (min-width: 1024px) {
    .findwine_merchant-currency {
      color: #86929a;
      font-size: 18px; } }
.findwine_merchant-price {
  display: inline-block;
  font-family: "Gotham A", "Gotham B";
  font-size: 26px;
  font-weight: 500; }
  @media (min-width: 1024px) {
    .findwine_merchant-price {
      font-size: 18px; } }
.findwine_buy-button {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00ad68;
  width: 71px;
  height: 38px;
  text-align: center;
  outline: none;
  margin-top: 5px; }
  @media (min-width: 1024px) {
    .findwine_buy-button {
      margin-top: 0px;
      margin-left: 15px; } }
@media (min-width: 1024px) {
  .findwine_detail-holder {
    background-color: #f4f5f4;
    padding: 0px 100px 50px 100px;
    margin-top: 50px; } }
@media (min-width: 1024px) {
  .findwine_details-specs {
    display: flex;
    justify-content: space-between; } }
@media (min-width: 1024px) {
  .findwine_details-margin {
    margin-right: 30px; } }
.findwine_vintage-table {
  margin-bottom: 0px !important; }
  @media (min-width: 1024px) {
    .findwine_vintage-table {
      background-color: #ffffff;
      border: 1px solid #dbe0e4;
      width: 100%;
      padding: 0px; } }
.findwine_vintage-rating--box {
  height: 40px;
  width: 40px;
  border-radius: 0px 3px 3px 0px;
  display: block;
  margin-top: 5px;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 1024px) {
    .findwine_vintage-rating--box {
      border-radius: 3px;
      margin-top: 0px; } }
.findwine_vintage--image {
  width: 50px;
  height: 98px;
  display: inline-block;
  text-align: center; }
  @media (min-width: 1024px) {
    .findwine_vintage--image {
      width: 80px;
      height: 120px;
      margin: 0px 50px; } }
.findwine_vintage--image-img {
  max-height: 98px;
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  color: #86929a; }
  @media (min-width: 1024px) {
    .findwine_vintage--image-img {
      max-height: 120px; } }
.findwine_vintage-producer {
  font-family: "Gotham A", "Gotham B";
  font-size: 18px;
  color: #333e48; }
.findwine_vintage-details {
  display: inline-table;
  width: 195px; }
.findwine_vintage-vintage {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  color: #333e48; }
.findwine_vintage-category {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  color: #333e48;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 0px; }
  @media (min-width: 1024px) {
    .findwine_vintage-category {
      font-style: normal;
      line-height: 1.42; } }
.findwine_vintage-currency {
  font-family: "Gotham A", "Gotham B";
  font-size: 18px;
  font-weight: 500;
  color: #333e48;
  display: inline-block;
  margin-right: 2px; }
.findwine_vintage-price {
  font-family: "Gotham A", "Gotham B";
  font-size: 30px;
  font-weight: 500;
  color: #333e48;
  display: inline-block;
  margin-top: 60px; }
  @media (min-width: 1024px) {
    .findwine_vintage-price {
      margin-right: 30px;
      margin-top: 0px; } }
.findwine_vintage-table--display {
  display: inline-table;
  width: 75px; }
  @media (min-width: 1024px) {
    .findwine_vintage-table--display {
      border: none !important;
      width: 236px;
      display: flex;
      align-items: center;
      justify-content: center; } }
@media (min-width: 1024px) {
  .findwine_filter-holder {
    height: 304px;
    width: 955px;
    margin: auto;
    position: absolute;
    margin-top: -34px;
    left: 0;
    right: 0; } }
.findwine_filters-heading {
  font-family: "Gotham A", "Gotham B";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px; }
@media (min-width: 1024px) {
  .findwine_filter-holder-search-result {
    min-height: 100vh;
    height: auto;
    position: relative;
    margin-top: 0px;
    width: 100%;
    background-color: #f4f5f4;
    padding: 0px 100px; } }
.findwine_search-results {
  display: flex;
  align-items: flex-start; }
  .findwine_search-results:last-child {
    border-bottom: 1px solid #dbe0e4; }
  @media (min-width: 1024px) {
    .findwine_search-results {
      display: flex;
      align-items: center;
      padding: 0px 50px;
      border: 1px solid #dbe0e4; } }
.findwine_search-result--table {
  padding: 17px 0px 0px 0px !important;
  display: flex;
  align-items: flex-start; }
  @media (min-width: 1024px) {
    .findwine_search-result--table {
      border: none !important;
      width: 900px; } }
.findwine_search-page--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  margin-bottom: 17px;
  margin-top: 17px; }
  @media (min-width: 1024px) {
    .findwine_search-page--container {
      margin-bottom: 0px;
      padding: 50px 0px;
      display: flex;
      flex-flow: column;
      text-align: center; } }
.findwine_search-page--inner {
  display: inherit; }
  @media (min-width: 1024px) {
    .findwine_search-page--inner {
      order: 2;
      margin-top: 20px; } }
@media (min-width: 1024px) {
  .findwine_search-button--container {
    order: 1; } }
.findwine_search-page {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  font-weight: bold;
  color: #86929a;
  margin-right: 14px; }
  @media (min-width: 1024px) {
    .findwine_search-page {
      display: inline-block; } }
.findwine_search-winesTotal {
  font-family: "Gotham A", "Gotham B";
  font-size: 12px;
  color: #86929a; }
  @media (min-width: 1024px) {
    .findwine_search-winesTotal {
      display: inline-block; } }
.findwine_search-next--button {
  width: 62.8px;
  height: 42px;
  border-radius: 0px 2px 2px 0px;
  background-color: #00ad68;
  cursor: pointer; }
  .findwine_search-next--button-left {
    border-radius: 2px 0px 0px 2px;
    cursor: pointer; }
    @media (min-width: 1024px) {
      .findwine_search-next--button-left {
        margin-right: 20px;
        border-radius: 4px; } }
  .findwine_search-next--button-inactive {
    width: 62.8px;
    height: 42px;
    border-radius: 2px;
    background-color: #f4f5f4;
    border: 1px solid #dbe0e4; }
    @media (min-width: 1024px) {
      .findwine_search-next--button-inactive {
        background-color: #ffffff;
        border: 2px solid #00ad68;
        width: 140px;
        height: 44px;
        border-radius: 4px; } }
  @media (min-width: 1024px) {
    .findwine_search-next--button {
      width: 140px;
      height: 44px;
      border-radius: 4px; } }
.findwine_search-next--button-text {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  display: inline-block;
  color: #ffffff; }
  .findwine_search-next--button-text-inactive {
    font-family: "Gotham A", "Gotham B";
    font-size: 14px;
    display: inline-block;
    color: #00ad68; }
@media (min-width: 1024px) {
  .findwine_search-next--button-arrow-right {
    margin-left: 10px; } }
@media (min-width: 1024px) {
  .findwine_search-next--button-arrow {
    margin-right: 10px; } }
@media (min-width: 1024px) {
  .findwine_search-next--button-green-arrow {
    margin-right: 10px; } }
@media (min-width: 1024px) {
  .findwine_search-next--button-green-arrow-right {
    margin-left: 10px;
    transform: rotate(180deg); } }
.findwine_filters-collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border: 1px solid #dbe0e4;
  padding: 20px 15px; }
.findwine_filters-collapsed-filter {
  padding: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbe0e4;
  margin: 0px -15px 15px -15px; }
.findwine_filters-filter-icon {
  width: 11px;
  height: 13px;
  margin-right: 13px; }
.findwine_filters-filters {
  width: 100%; }
.findwine_filters-list {
  font-family: "Gotham A", "Gotham B";
  color: #333e48;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.findwine_filters-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333e48;
  display: inline-block;
  margin-top: 1px; }
.findwine_filters-expand {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-end; }
.findwine_filters-expand-button {
  padding: 0px; }
.findwine_filters-close-button {
  font-family: "Gotham A", "Gotham B";
  font-size: 16px;
  color: #333e48;
  font-weight: 500; }
.findwine_filters-expand-arrow {
  width: 12px;
  height: 8px; }
.findwine_ratings-explained--container {
  background-color: #f4f5f4;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 0px 15px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .findwine_ratings-explained--container {
      justify-content: flex-start;
      padding: 0px;
      height: auto;
      padding: 20px 0px 30px 0px; } }
.findwine_ratings-heading {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  color: #86929a;
  display: inline-block; }
  @media (min-width: 1024px) {
    .findwine_ratings-heading {
      order: 2; } }
@media (min-width: 1024px) {
  .findwine_ratings-info {
    order: 1;
    padding-left: 0px; } }
.findwine_ratings-info-icon {
  height: 18px;
  width: 18px; }
.findwine_modal {
  padding: 30px; }
.findwine_modal-ratings {
  text-align: center;
  margin-bottom: 30px; }
.findwine_modal-ratings-icon {
  height: 71px;
  width: 56px; }
.findwine_modal-heading {
  font-family: "Gotham A", "Gotham B";
  font-size: 24px;
  color: #333e48;
  text-align: center;
  margin-bottom: 30px; }
.findwine_modal-content {
  font-family: "Gotham A", "Gotham B";
  font-size: 14px;
  color: #86929a;
  text-align: center; }
.findwine_modal-footer {
  padding: 30px; }
.findwine_modal-button {
  background-color: #ffffff;
  font-family: "Gotham A", "Gotham B";
  color: #00ad68;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #00ad68;
  cursor: pointer; }
  .findwine_modal-button:focus, .findwine_modal-button:hover, .findwine_modal-button:active {
    border: 2px solid #00ad68;
    background-color: #00ad68;
    color: #ffffff; }
.findwine_no-results-holder {
  background-color: #ffffff;
  border: 1px solid #dbe0e4;
  padding: 50px 0px;
  text-align: center; }
.findwine_no-results-holder-image {
  height: 50px;
  width: 255px;
  text-align: center;
  margin-bottom: 25px; }
.findwine_no-results-text-heading {
  text-align: center;
  font-family: "Gotham A", "Gotham B";
  color: #333e48;
  font-size: 24px;
  margin-bottom: 15px; }
.findwine_no-results-text {
  text-align: center;
  font-family: "Gotham A", "Gotham B";
  color: #86929a;
  font-size: 14px;
  margin-bottom: 0px; }

/*# sourceMappingURL=findwine.css.map */
