html {
  height: 100%;
  box-sizing: border-box; }

body {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  color: #333e48;
  position: relative;
  margin: 0;
  min-height: 100%; }
  @media (min-width: 992px) {
    body {
      padding-bottom: 60px; } }

@media (max-width: 575px) {
  .container {
    padding-left: 0px;
    padding-right: 0px; } }

.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%; }
  @media (min-width: 992px) {
    .navbar {
      padding: 40px 0px; } }
  .navbar-toggler {
    border: none;
    outline: none !important;
    padding-left: 0px; }
  .navbar-new {
    position: relative;
    height: 56px;
    border: 1px solid #e9e9e9;
    display: flex;
    align-items: center; }
    @media (min-width: 992px) {
      .navbar-new {
        height: 100px; } }
  .navbar .form-control::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1; }

.nav-link {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-right: 40px !important;
  padding-left: 0px !important;
  cursor: pointer; }
  .nav-link:hover {
    color: #00ad68 !important; }
  @media (min-width: 678px) {
    .nav-link {
      color: #ffffff !important; } }
  .nav-link-new {
    color: #333e48 !important;
    font-family: "Gotham SSm A", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-right: 40px !important;
    padding-left: 0px !important;
    cursor: pointer; }
    .nav-link-new:hover {
      color: #00ad68 !important; }

.nav-link-home {
  color: #00ad68 !important; }

.nav-item-new {
  z-index: 1000;
  background-color: #ffffff; }

.form-control:focus {
  outline: none;
  border-color: #00ad68; }

a:focus, a:hover {
  color: inherit;
  text-decoration: none; }

.btn.focus, .btn:focus {
  box-shadow: none; }

button:focus, button:hover {
  outline: none; }

.btn-secondary:hover {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none; }

.table-sm td, .table-sm th {
  padding: 0.3rem 15px; }

.search-form {
  padding: 0px 15px; }
  @media (min-width: 992px) {
    .search-form {
      width: 955px; } }
  .search-form-collapsed {
    padding: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 0px; }

.rc-slider {
  width: 92% !important; }
  @media (min-width: 992px) {
    .rc-slider {
      width: 96% !important; } }
  @media (min-width: 992px) {
    .rc-slider {
      margin-top: 20px;
      margin-left: 10px; } }

.rc-slider-rail {
  background: #c8ced2; }

.rc-slider-track {
  background: #00ad68 !important; }

.rc-slider-rail, .rc-slider-track {
  height: 14px !important; }

.rc-slider-handle {
  background: url("images/SVGs/slider.svg") no-repeat center center;
  width: 34px !important;
  height: 34px !important;
  border: 1px solid #c8ced2 !important;
  margin-top: -10px !important; }

.min_price {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px; }
  .min_price input {
    width: 75px;
    margin-left: 15px; }

.max_price {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0px; }
  .max_price input {
    width: 75px;
    margin-left: 15px;
    outline: none !important; }

@media (min-width: 992px) {
  .category {
    margin-top: 6px;
    margin-right: 20px; } }

@media (min-width: 992px) {
  .sub_category {
    margin-top: 6px; } }
.sub_category-collapse {
  margin: 0px; }

.price-range {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  color: #86929a; }
  @media (min-width: 992px) {
    .price-range {
      color: #333e48;
      margin: 0px 10px; } }
  .price-range-collapse {
    display: inline-block;
    margin: 0px 10px; }

.mc-field-group {
  display: flex;
  justify-content: center;
  border: 1px solid #dbe0e4;
  border-radius: 2px; }

.Select-value-label {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 14px; }
  @media (min-width: 992px) {
    .Select-value-label {
      font-size: 16px; } }

.Select-option {
  padding: 9px 15px !important;
  display: flex !important;
  align-items: center; }

.Select-option.is-selected {
  background-color: #f4f5f4 !important; }

.Select.is-focused:not(.is-open) > .Select-control {
  box-shadow: none !important;
  outline: none !important;
  border-color: #dbe0e4 !important; }

.Select-option.is-focused {
  background-color: #f4f5f4 !important; }

.Select--multi .Select-value {
  color: #333e48 !important;
  background-color: #ffffff !important;
  border: none !important; }

.Select--multi .Select-value-icon {
  border: none !important; }

.Select--multi .Select-value-icon:hover, .Select--multi .Select-value-icon:focus {
  outline: none !important; }

.Select--multi .Select-multi-value-wrapper {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48 !important;
  font-size: 14px;
  line-height: 42px;
  padding: 0px 15px !important; }
  @media (min-width: 992px) {
    .Select--multi .Select-multi-value-wrapper {
      font-size: 16px;
      line-height: 43px; } }

.Select-control {
  height: 42px !important; }
  @media (min-width: 992px) {
    .Select-control {
      height: 45px !important;
      width: 245px !important;
      border-radius: 2px !important;
      border: solid 1px #dbe0e4 !important; } }

.Select-placeholder, .Select--single > .Select-control .Select-value {
  line-height: 43px !important;
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48 !important;
  font-size: 14px;
  padding: 0px 15px !important; }
  @media (min-width: 992px) {
    .Select-placeholder, .Select--single > .Select-control .Select-value {
      font-size: 16px; } }

.Select-menu {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48 !important;
  font-size: 16px;
  max-height: inherit !important;
  height: auto !important; }

.Select-menu-outer {
  overflow: visible !important;
  max-height: inherit !important;
  height: auto !important; }

.modal.left .modal-dialog {
  position: fixed; }

.modal.left .modal-content {
  overflow-y: auto; }

.modal.left.fade .modal-dialog {
  left: 0px; }

.modal.left.fade.in .modal-dialog {
  left: 0; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out, -o-transform .3s ease-out;
  -webkit-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  transform: translate(-25%, 0); }

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.findwine_nav--menu {
  margin-left: 0px;
  z-index: 1000; }
  @media (min-width: 992px) {
    .findwine_nav--menu {
      margin-left: 260px; } }
.findwine_nav--menu-home {
  margin-left: 0px; }
  @media (min-width: 992px) {
    .findwine_nav--menu-home {
      margin-left: 100px; } }
.findwine_nav-logo {
  width: auto;
  text-align: center;
  position: relative;
  margin-top: -25px;
  z-index: 1000; }
  .findwine_nav-logo-none {
    display: none; }
  @media (min-width: 992px) {
    .findwine_nav-logo {
      text-align: left;
      width: 185px;
      height: 40px;
      margin-top: 0px;
      right: 85%; } }
.findwine_nav-logo-icon {
  width: 146px;
  height: 33px; }
.findwine_modal-nav {
  margin: 0px;
  width: 85%;
  height: 100%; }
  .findwine_modal-nav-close {
    opacity: 1; }
  .findwine_modal-nav-header {
    border-bottom: none; }
  .findwine_modal-nav-content {
    height: 100%; }
  .findwine_modal-nav-link {
    font-family: "Gotham SSm A", sans-serif;
    color: #333e48 !important;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px; }
  .findwine_modal-nav-footer {
    border-top: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column; }
    .findwine_modal-nav-footer-links-ul {
      list-style: none;
      padding: 0px; }
    .findwine_modal-nav-footer-links-li {
      margin-bottom: 15px; }
    .findwine_modal-nav-footer-link {
      font-family: "Gotham SSm A", sans-serif;
      color: #86929a;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none; }
      .findwine_modal-nav-footer-link:hover, .findwine_modal-nav-footer-link:active, .findwine_modal-nav-footer-link:focus {
        color: #14815b; }
    .findwine_modal-nav-footer-social {
      margin-top: 20px;
      margin-bottom: 25px;
      margin-left: 0px; }
    .findwine_modal-nav-footer-icon {
      height: 24px;
      margin-right: 40px; }
.findwine_menu-icon {
  padding-top: 20px;
  color: #333e48;
  outline: none; }
.findwine_menu-button {
  fill: #ffffff;
  height: 12px;
  width: 18px;
  border: none; }
  .findwine_menu-button-none {
    display: none; }
.findwine_nav-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }
.findwine_search-field {
  background-color: rgba(255, 255, 255, 0.3);
  color: #333e48;
  margin-right: 0px !important;
  border: transparent;
  border-radius: 4px 0px 0px 4px; }
.findwine_search-button {
  background-color: #00ad68;
  border: none;
  border-radius: 0px 4px 4px 1px; }
  .findwine_search-button:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important;
    color: #ffffff; }
  .findwine_search-button:active, .findwine_search-button:focus {
    background-color: #14815b !important;
    border-color: #14815b !important;
    color: #ffffff; }
.findwine_search-icon {
  height: 18px;
  width: 18px; }
.findwine_logo-standard {
  width: 180px;
  object-fit: contain;
  padding: 12px 0px 11px 0px; }
  @media (min-width: 992px) {
    .findwine_logo-standard {
      width: 270px;
      margin-top: 151px;
      height: 60px;
      padding: 0px;
      margin-bottom: 31px; } }
.findwine_banner-main {
  height: 170px;
  width: 100%;
  background: url("images/background/home-mob.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }
  @media (min-width: 678px) {
    .findwine_banner-main {
      background: url("images/background/home-tab.png") no-repeat;
      height: 300px;
      background-size: cover; } }
  @media (min-width: 992px) {
    .findwine_banner-main {
      background: url("images/background/home.png") no-repeat;
      height: 580px;
      margin-bottom: 0px;
      background-size: cover; } }
.findwine_banner-text {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
  color: #ffffff; }
@media (min-width: 992px) {
  .findwine_search-form {
    margin-top: -305px;
    padding: 32px 30px;
    background-color: white;
    border-radius: 4px;
    height: 146px;
    display: flex; } }
.findwine_search-form-collapsed {
  margin-top: 0px;
  background-color: transparent;
  padding: 0px; }
  @media (min-width: 992px) {
    .findwine_search-form-collapsed {
      padding-bottom: 0px; } }
.findwine_heading-2 {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  padding-bottom: 14px; }
.findwine_heading-3 {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  display: block; }
  @media (min-width: 992px) {
    .findwine_heading-3 {
      font-size: 14px; } }
.findwine_price {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px; }
  @media (min-width: 992px) {
    .findwine_price {
      font-size: 16px; } }
.findwine_select-svg {
  max-width: 13px;
  max-height: 29px;
  margin-right: 20px; }
.findwine_select-box {
  height: 18px;
  width: 18px;
  margin-right: 20px; }
.findwine_subcategory-option {
  display: inline-block; }
  @media (min-width: 992px) {
    .findwine_subcategory-option {
      max-width: 175px; } }
@media (min-width: 992px) {
  .findwine_subcategory-row {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center; } }
.findwine_subcategory {
  padding: 0px; }
  @media (min-width: 992px) {
    .findwine_subcategory {
      padding: 0px 15px; } }
  .findwine_subcategory-collapse {
    padding: 0px; }
.findwine_content-paragraph {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 400;
  text-align: left;
  color: #333e48;
  padding-bottom: 14px; }
.findwine_content-link {
  color: #00ad68;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  text-decoration: none; }
  .findwine_content-link:hover, .findwine_content-link:active, .findwine_content-link:focus {
    color: #00ad68;
    text-decoration: underline; }
.findwine_content {
  background-color: #f4f5f5;
  border: solid 1px #dbe0e4; }
.findwine_content-container {
  padding: 35px 15px; }
  @media (min-width: 992px) {
    .findwine_content-container {
      padding: 35px 0px; } }
.findwine_content-image {
  width: 220px; }
.findwine_button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #00ad68;
  border-color: #00ad68;
  height: 52px;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 23px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2); }
  @media (min-width: 992px) {
    .findwine_button {
      width: auto; } }
  @media (min-width: 992px) {
    .findwine_button {
      margin-top: 38px;
      height: 45px;
      width: 163px;
      letter-spacing: 0.7px; } }
  .findwine_button:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important;
    color: #ffffff; }
  .findwine_button:active, .findwine_button:focus {
    background-color: #14815b !important;
    border-color: #14815b !important;
    color: #ffffff; }
  .findwine_button-outer {
    display: flex;
    justify-content: center;
    padding: 0px; }
    @media (min-width: 992px) {
      .findwine_button-outer {
        display: flex;
        justify-content: center; } }
  .findwine_button-category {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0px;
    color: #333e48;
    font-size: 12px;
    letter-spacing: -0.5px;
    font-family: "Gotham SSm A", sans-serif;
    font-weight: 400;
    width: 60px;
    height: 85px;
    margin-right: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-bottom: 15px;
    border-radius: 2px; }
    @media (min-width: 576px) {
      .findwine_button-category {
        width: 80px;
        margin-right: 15px; } }
    .findwine_button-category:last-child {
      margin-right: 0px; }
    .findwine_button-category--selected {
      background-color: #ffffff; }
.findwine_button-image {
  margin-top: -3px;
  margin-left: 10px; }
.findwine_svg {
  margin-top: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35px; }
.findwine_button-type {
  margin: 9px 0px 7px 0px;
  word-break: break-all; }
  .findwine_button-type p {
    margin-bottom: 0px !important; }
.findwine_button-bar {
  height: 4px;
  border-radius: 0px 0px 2px 2px;
  width: auto;
  margin-left: -1px;
  margin-bottom: -3px; }
  .findwine_button-bar--selectedred {
    background-color: #b22626; }
  .findwine_button-bar--selectedwhite {
    background-color: #fae78c; }
  .findwine_button-bar--selectedbubbly {
    background-color: #f7e1ba; }
  .findwine_button-bar--selectedrose {
    background-color: #f8a99f; }
  .findwine_button-bar--selecteddessert {
    background-color: #d68730; }
.findwine_newsletter-svg {
  width: 58px;
  height: 58px;
  float: left;
  margin-right: 15px; }
  @media (min-width: 992px) {
    .findwine_newsletter-svg {
      margin-right: 20px; } }
.findwine_subscribe {
  padding: 30px 15px; }
  @media (min-width: 992px) {
    .findwine_subscribe {
      padding: 3em 0px; } }
  @media (min-width: 992px) {
    .findwine_subscribe .form-inline {
      float: right; } }
  .findwine_subscribe--flex {
    display: flex;
    justify-content: center; }
.findwine_newsletter-heading {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  margin-bottom: 0px;
  padding-top: 0px; }
.findwine_newsletter-paragraph {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #86929a; }
.findwine_newsletter-subscribe {
  color: #333e48;
  margin-right: 0px !important;
  opacity: 0.5;
  display: inline-block;
  width: 100% !important;
  height: 40px;
  border: none; }
.findwine_newsletter-button {
  background-color: #00ad68;
  border: 1px solid #00ad68;
  border-radius: 1px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  margin-top: 0px !important;
  margin-bottom: 0px !important; }
  .findwine_newsletter-button:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important;
    color: #ffffff; }
  .findwine_newsletter-button:active, .findwine_newsletter-button:focus {
    background-color: #14815b !important;
    border-color: #14815b !important;
    color: #ffffff; }
.findwine_mailchimp-holder {
  width: 100%;
  display: flex;
  justify-content: center; }
  @media (min-width: 992px) {
    .findwine_mailchimp-holder {
      width: auto; } }
.findwine_footer {
  background-color: #333e48;
  height: 60px; }
  .findwine_footer--logo {
    height: 30px;
    margin-right: 20px; }
  .findwine_footer--text {
    color: #ffffff;
    font-family: "Gotham SSm A", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px; }
    .findwine_footer--text-spacing {
      margin-right: 20px;
      display: inline-block; }
      @media (min-width: 992px) {
        .findwine_footer--text-spacing {
          margin-right: 30px; } }
  .findwine_footer--flex {
    display: flex;
    align-items: center; }
    .findwine_footer--flex-right {
      float: right;
      color: #ffffff; }
  .findwine_footer--icon {
    height: 18px;
    width: auto;
    margin-left: 30px; }
.findwine_price-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0px; }
  .findwine_price-input .form-group:active, .findwine_price-input .form-group:hover, .findwine_price-input .form-group:focus {
    outline: none; }
  @media (min-width: 992px) {
    .findwine_price-input {
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
      justify-content: flex-end; } }
  .findwine_price-input-collapse {
    justify-content: center;
    display: flex;
    align-items: center; }
.findwine_select-collapse .Select-control {
  max-width: 220px; }
.findwine_detail-image {
  height: 200px;
  max-width: 68px;
  margin: 0px 34px 28px 25px; }
.findwine_detail-images-desktop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  margin-right: 38px;
  flex: 1; }
  .findwine_detail-images-desktop-none {
    flex: 0; }
.findwine_detail-images-small {
  display: inline-block;
  margin-right: 20px; }
.findwine_detail-image-border-green {
  border: 1px solid #00ad68 !important; }
.findwine_detail-image-1 {
  width: 90px;
  height: 90px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center; }
  .findwine_detail-image-1:hover, .findwine_detail-image-1:active, .findwine_detail-image-1:focus, .findwine_detail-image-1:visited {
    border: 1px solid #00ad68;
    outline: none; }
  .findwine_detail-image-1 img {
    max-height: 58px; }
.findwine_detail-image-2 {
  width: 90px;
  height: 90px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dadada;
  overflow: hidden;
  cursor: pointer;
  padding: 15px;
  display: flex;
  justify-content: center; }
  .findwine_detail-image-2:hover, .findwine_detail-image-2:active, .findwine_detail-image-2:focus, .findwine_detail-image-2:visited {
    border: 1px solid #00ad68;
    outline: none; }
  .findwine_detail-image-2 img {
    max-height: 58px; }
.findwine_detail-image-main--holder {
  max-width: 400px;
  height: 400px;
  border-radius: 2px;
  border: solid 1px #dadada;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .findwine_detail-image-main--holder {
      height: 450px; } }
  @media (min-width: 1260px) {
    .findwine_detail-image-main--holder {
      width: 400px; } }
.findwine_detail-image-main {
  max-height: 380px; }
  @media (min-width: 992px) {
    .findwine_detail-image-main {
      max-height: 420px; } }
.findwine_producer {
  padding: 0px 15px 0px 0px; }
  @media (min-width: 992px) {
    .findwine_producer {
      flex: 1;
      padding-right: 0px; } }
.findwine_producer-main {
  text-decoration: none;
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500; }
  @media (min-width: 992px) {
    .findwine_producer-main {
      font-size: 16px;
      margin-bottom: 15px; }
      .findwine_producer-main:active, .findwine_producer-main:hover, .findwine_producer-main:focus {
        text-decoration: none; } }
.findwine_producer-vintage {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 14px;
  font-weight: 500;
  margin-top: 9px;
  margin-bottom: 12px; }
  @media (min-width: 992px) {
    .findwine_producer-vintage {
      font-size: 26px;
      margin-bottom: 15px; } }
.findwine_category {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 12px;
  line-height: 1.42;
  height: 17px;
  font-style: italic;
  margin-bottom: 8px; }
  @media (min-width: 992px) {
    .findwine_category {
      font-size: 14px;
      color: #86929a;
      margin-bottom: 17px; } }
.findwine_place {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 12px;
  line-height: 1.42;
  height: 17px;
  margin-bottom: 20px; }
  .findwine_place img {
    margin-right: 7px; }
  @media (min-width: 992px) {
    .findwine_place {
      font-size: 14px;
      color: #86929a;
      margin-bottom: 88px; } }
.findwine_place-image {
  margin-top: -8px;
  margin-right: 3px; }
@media (min-width: 678px) {
  .findwine_awards-holder {
    margin-bottom: 20px; } }
@media (min-width: 992px) {
  .findwine_awards-holder {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0px; } }
.findwine_rating {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0px; }
.findwine_rating-box {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .findwine_rating-box {
      margin-top: 0px;
      margin-right: 30px;
      height: 40px;
      width: 40px; } }
.findwine_rating-box-gold {
  background-color: #c9a564; }
.findwine_rating-box-sliver {
  background-color: #a5b2b3; }
.findwine_rating-box-bronze {
  background-color: #b5664a; }
.findwine_awards-container {
  margin-top: 10px; }
  @media (min-width: 992px) {
    .findwine_awards-container {
      margin-top: 0px;
      margin-bottom: 40px; } }
.findwine_award-list {
  list-style-type: none;
  font-family: "Gotham SSm A", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #86929a;
  display: block; }
  @media (min-width: 992px) {
    .findwine_award-list {
      display: table-cell;
      width: 194px; } }
.findwine_award-list-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333e48;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 2px; }
  .findwine_award-list-bullet-light {
    background-color: #86929a; }
.findwine_award-heading {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  color: #86929a;
  display: block;
  margin-bottom: 8px; }
.findwine_list-group {
  display: block; }
  @media (min-width: 992px) {
    .findwine_list-group {
      display: inline-block; } }
.findwine_list {
  padding: 0px; }
.findwine_list-item {
  list-style-type: none; }
.findwine_detail-nav {
  position: relative !important;
  height: 56px;
  border-bottom: 1px solid #dbe0e4;
  display: flex;
  align-items: center;
  padding: 6px 16px; }
.findwine_detail--menu-button {
  width: 25px;
  height: 13px; }
.findwine_detail-back {
  display: flex; }
.findwine_detail-nav--heading {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  display: inline-block;
  width: 100%; }
.findwine_detail-padding {
  padding-top: 30px;
  display: flex;
  justify-content: center; }
.findwine_detail-right-arrow {
  height: 8px;
  width: 10px; }
.findwine_detail-rowHeight {
  height: 113px;
  overflow: hidden; }
  @media (min-width: 992px) {
    .findwine_detail-rowHeight {
      padding: 30px 15px;
      margin: 0px;
      height: auto;
      background-color: #ffffff;
      border: 1px solid #dbe0e4;
      border-radius: 4px;
      flex: 1; } }
.findwine_detail-expand {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 47px;
  border-top: 1px solid #dbe0e4;
  padding: 6px 16px; }
.findwine_detail-expand-button {
  color: #00ad68;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  background: none;
  cursor: pointer; }
.findwine_detail-more-arrow {
  height: 7px;
  width: 12px;
  margin-top: -2px; }
.findwine_detail-less-arrow {
  height: 7px;
  width: 12px;
  margin-top: -2px;
  transform: rotate(180deg); }
.findwine_detail-heading {
  background-color: #f4f5f4;
  border-top: 1px solid #dbe0e4;
  border-bottom: 1px solid #dbe0e4;
  padding: 0px 15px;
  min-height: 20px; }
  @media (min-width: 992px) {
    .findwine_detail-heading {
      background-color: transparent;
      border: none;
      padding: 0px; } }
  .findwine_detail-heading-none {
    display: none; }
.findwine_detail-header {
  font-family: "Gotham SSm A", sans-serif;
  color: #86929a;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: 31px;
  margin-bottom: 11px; }
  @media (min-width: 992px) {
    .findwine_detail-header {
      margin-top: 0px;
      margin-bottom: 20px; } }
@media (min-width: 992px) {
  .findwine_detail-header--desktop {
    padding-top: 50px;
    margin-bottom: 24px; } }
.findwine_detail-header--2 {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin: 26px 15px 13px 15px;
  color: #333e48; }
  @media (min-width: 992px) {
    .findwine_detail-header--2 {
      margin: 0px 0px 20px 0px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.1px; } }
.findwine_detail-content {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  height: 43px;
  overflow: hidden; }
  @media (min-width: 992px) {
    .findwine_detail-content {
      margin: 0px;
      font-size: 16px;
      line-height: 1.75;
      height: auto; } }
.findwine_detail-table-content {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px; }
  .findwine_detail-table-content:last-child {
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px; }
  @media (min-width: 992px) {
    .findwine_detail-table-content {
      display: block;
      border-bottom: none;
      margin-bottom: 0px;
      padding-bottom: 0px; } }
.findwine_detail-content-left {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  width: 40%; }
  @media (min-width: 992px) {
    .findwine_detail-content-left {
      padding: 0px !important;
      border: none !important;
      display: block;
      width: 100%;
      margin: 20px 0px 0px 0px; } }
.findwine_detail-content-right {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  width: 60%; }
  @media (min-width: 992px) {
    .findwine_detail-content-right {
      color: #333e48;
      padding: 0px !important;
      border: none !important;
      display: block;
      width: 100%;
      font-weight: 500;
      margin: 0px; } }
@media (min-width: 992px) {
  .findwine_detail-list-inline-item {
    margin: 0px; } }
.findwine_detail-content-list {
  padding: 0.3rem 0px; }
.findwine_detail-list {
  display: flex;
  align-items: flex-start; }
  @media (min-width: 992px) {
    .findwine_detail-list {
      border: 1px solid #dbe0e4 !important;
      margin-bottom: 20px;
      margin-right: 15px;
      max-width: 670px;
      padding: 20px;
      display: flex;
      justify-content: space-between; } }
.findwine_merchant-holder {
  flex: 1; }
  @media (min-width: 992px) {
    .findwine_merchant-holder {
      width: auto; } }
.findwine_merchant-name {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333e48;
  margin-bottom: 5px; }
  @media (min-width: 992px) {
    .findwine_merchant-name {
      display: inline-block;
      margin-right: 25px; } }
.findwine_merchant-unit {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  color: #86929a;
  margin-bottom: 15px; }
  @media (min-width: 992px) {
    .findwine_merchant-unit {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 0px; } }
.findwine_merchant-delivery {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 1.42;
  color: #86929a;
  padding-right: 5px; }
  @media (min-width: 992px) {
    .findwine_merchant-delivery {
      line-height: 1.5;
      font-style: normal; } }
.findwine_merchant-pricing {
  display: flex;
  flex-flow: column; }
  @media (min-width: 992px) {
    .findwine_merchant-pricing {
      width: auto;
      flex-flow: row;
      align-items: center; } }
.findwine_merchant-currency {
  display: inline-block;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 16px;
  font-weight: 500; }
  @media (min-width: 992px) {
    .findwine_merchant-currency {
      font-size: 18px; } }
.findwine_merchant-price {
  display: inline-block;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 26px;
  font-weight: 500; }
  @media (min-width: 992px) {
    .findwine_merchant-price {
      font-size: 18px; } }
.findwine_buy-button {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00ad68;
  width: 71px;
  height: 38px;
  text-align: center;
  outline: none;
  margin-top: 5px; }
  @media (min-width: 992px) {
    .findwine_buy-button {
      margin-top: 0px; } }
  .findwine_buy-button:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important;
    color: #ffffff; }
  .findwine_buy-button:active, .findwine_buy-button:focus {
    background-color: #14815b !important;
    border-color: #14815b !important;
    color: #ffffff; }
.findwine_view-button {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #00ad68;
  text-align: center;
  outline: none;
  margin-top: 5px; }
  @media (min-width: 678px) {
    .findwine_view-button {
      margin-top: 0px; } }
  @media (min-width: 992px) {
    .findwine_view-button {
      width: 117px;
      height: 44px; } }
  .findwine_view-button:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important;
    color: #ffffff; }
  .findwine_view-button:active, .findwine_view-button:focus {
    background-color: #14815b !important;
    border-color: #14815b !important;
    color: #ffffff; }
.findwine_view-button-arrow {
  height: 8px;
  width: 10px;
  margin-left: 8px; }
@media (min-width: 992px) {
  .findwine_detail-holder {
    background-color: #f4f5f4;
    padding-bottom: 50px;
    margin-top: 50px; } }
@media (min-width: 992px) {
  .findwine_details-specs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; } }
@media (min-width: 992px) {
  .findwine_details-margin {
    margin-right: 30px; } }
.findwine_vintage-table {
  margin-bottom: 0px !important; }
  @media (min-width: 992px) {
    .findwine_vintage-table {
      background-color: #ffffff;
      border: 1px solid #dbe0e4;
      width: 100%;
      padding: 0px;
      cursor: default; } }
.findwine_vintage-rating--box {
  height: 22px;
  width: 25px;
  border-radius: 0px 3px 3px 0px;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 992px) {
    .findwine_vintage-rating--box {
      font-size: 16px;
      border-radius: 3px;
      margin-top: 5px;
      height: 40px;
      width: 40px; } }
.findwine_vintage--image {
  width: 50px;
  height: 98px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  align-self: flex-end; }
  @media (min-width: 992px) {
    .findwine_vintage--image {
      width: 80px;
      height: 120px;
      margin: 0px 50px; } }
.findwine_vintage--image-img {
  max-height: 115px;
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  color: #86929a; }
  @media (min-width: 992px) {
    .findwine_vintage--image-img {
      max-height: 130px; } }
.findwine_vintage-producer {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #333e48;
  font-weight: 300; }
  @media (min-width: 992px) {
    .findwine_vintage-producer {
      cursor: default; } }
.findwine_vintage-details {
  display: block;
  flex-flow: column;
  flex: 1;
  padding-right: 20px; }
  @media (min-width: 992px) {
    .findwine_vintage-details {
      cursor: default; } }
.findwine_vintage-vintage {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  color: #333e48;
  font-weight: 300;
  margin-top: 2px; }
  @media (min-width: 992px) {
    .findwine_vintage-vintage {
      cursor: default;
      margin-top: 5px; } }
.findwine_vintage-category {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  color: #333e48;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 4px; }
  @media (min-width: 992px) {
    .findwine_vintage-category {
      line-height: 1.42;
      cursor: default; } }
.findwine_vintage-currency {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333e48;
  display: inline-block;
  margin-right: 2px; }
.findwine_vintage-price {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #333e48;
  display: inline-block; }
  @media (min-width: 678px) {
    .findwine_vintage-price {
      margin-right: 30px;
      margin-top: 0px; } }
.findwine_vintage-table--display {
  display: inline-table; }
  @media (min-width: 678px) {
    .findwine_vintage-table--display {
      display: flex;
      align-items: center; } }
  @media (min-width: 992px) {
    .findwine_vintage-table--display {
      border: none !important;
      justify-content: center; } }
.findwine_vintage-row {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 992px) {
    .findwine_vintage-row {
      cursor: default; } }
@media (min-width: 992px) {
  .findwine_filter-holder {
    height: 304px;
    width: 955px;
    margin: auto;
    position: absolute;
    margin-top: -34px;
    left: 0;
    right: 0; } }
.findwine_filters-heading {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.4px; }
  .findwine_filters-heading-open {
    font-family: "Gotham SSm A", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.4px; }
@media (min-width: 992px) {
  .findwine_filter-holder-search-result {
    min-height: 100vh;
    height: auto;
    position: relative;
    margin-top: 0px;
    width: 100%;
    background-color: #f4f5f4;
    padding: 0px 100px; } }
.findwine_filter-collapse-category {
  margin-right: 20px;
  margin-top: 0px; }
  .findwine_filter-collapse-category .Select-control {
    max-width: 220px; }
  @media (min-width: 992px) {
    .findwine_filter-collapse-category-align {
      margin-right: -15px;
      margin-left: -15px; } }
.findwine_filter-collapse-category-price {
  width: 220px;
  margin-right: 20px;
  flex-flow: column;
  align-items: flex-start; }
.findwine_search-results {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #dbe0e4; }
  .findwine_search-results:last-child {
    border-bottom: 1px solid #dbe0e4; }
  @media (min-width: 992px) {
    .findwine_search-results {
      display: flex;
      align-items: center;
      padding: 0px 50px;
      border: 1px solid #dbe0e4;
      cursor: default; } }
.findwine_search-result--table {
  padding: 17px 0px 0px 0px !important;
  display: flex;
  align-items: flex-start;
  flex: 1; }
  @media (min-width: 992px) {
    .findwine_search-result--table {
      border: none !important;
      width: 900px; } }
.findwine_search-page--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  margin-bottom: 17px;
  margin-top: 17px; }
  @media (min-width: 678px) {
    .findwine_search-page--container {
      margin-bottom: 0px;
      padding: 30px 0px;
      display: flex;
      flex-flow: column;
      text-align: center; } }
  @media (min-width: 992px) {
    .findwine_search-page--container {
      padding: 50px 0px; } }
.findwine_search-page--inner {
  display: inherit; }
  @media (min-width: 678px) {
    .findwine_search-page--inner {
      order: 2;
      margin-top: 20px; } }
@media (min-width: 678px) {
  .findwine_search-button--container {
    order: 1; } }
.findwine_search-page {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #86929a;
  margin-right: 14px; }
  @media (min-width: 992px) {
    .findwine_search-page {
      display: inline-block; } }
.findwine_search-winesTotal {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 12px;
  color: #86929a; }
  @media (min-width: 992px) {
    .findwine_search-winesTotal {
      display: inline-block; } }
.findwine_search-next--button {
  width: 62.8px;
  height: 42px;
  border-radius: 0px 2px 2px 0px;
  background-color: #00ad68;
  cursor: pointer; }
  .findwine_search-next--button:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important; }
  .findwine_search-next--button:active, .findwine_search-next--button:focus {
    background-color: #14815b !important;
    border-color: #14815b !important; }
  .findwine_search-next--button-left {
    border-radius: 2px 0px 0px 2px;
    cursor: pointer; }
    @media (min-width: 678px) {
      .findwine_search-next--button-left {
        margin-right: 20px;
        border-radius: 4px; } }
  .findwine_search-next--button-inactive {
    width: 62.8px;
    height: 42px;
    border-radius: 2px 0px 0px 2px;
    background-color: #f4f5f4;
    border: 1px solid #dbe0e4;
    border-right: none;
    cursor: default; }
    @media (min-width: 678px) {
      .findwine_search-next--button-inactive {
        background-color: #ffffff;
        border: 2px solid #00ad68;
        width: 140px;
        height: 44px;
        border-radius: 4px; } }
  @media (min-width: 678px) {
    .findwine_search-next--button {
      width: 140px;
      height: 44px;
      border-radius: 4px; } }
.findwine_search-next--button-text {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  display: inline-block;
  color: #ffffff; }
  .findwine_search-next--button-text-inactive {
    font-family: "Gotham SSm A", sans-serif;
    font-size: 14px;
    display: inline-block;
    color: #00ad68; }
  .findwine_search-next--button-text:hover {
    background-color: #0a9761 !important;
    border-color: #0a9761 !important; }
  .findwine_search-next--button-text:active, .findwine_search-next--button-text:focus {
    background-color: #14815b !important;
    border-color: #14815b !important; }
@media (min-width: 678px) {
  .findwine_search-next--button-arrow-right {
    margin-left: 10px; } }
.findwine_search-next--button-arrow {
  transform: rotate(180deg); }
  @media (min-width: 678px) {
    .findwine_search-next--button-arrow {
      margin-right: 10px; } }
@media (min-width: 678px) {
  .findwine_search-next--button-green-arrow {
    margin-right: 10px; } }
@media (min-width: 678px) {
  .findwine_search-next--button-green-arrow-right {
    margin-left: 10px;
    transform: rotate(180deg); } }
.findwine_filters-collapsed {
  display: flex;
  align-items: center;
  height: 56px;
  border: 1px solid #dbe0e4;
  padding: 20px 15px; }
.findwine_filters-collapsed-filter {
  padding: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbe0e4;
  margin: 0px -15px 15px -15px; }
  .findwine_filters-collapsed-filter-open {
    padding: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbe0e4;
    margin: 0px -15px 15px -15px; }
.findwine_filters-filter-icon {
  width: 11px;
  height: 13px;
  margin-right: 13px; }
.findwine_filters-filters {
  width: 100%; }
.findwine_filters-list {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.findwine_filters-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333e48;
  display: inline-block;
  margin-top: 1px; }
.findwine_filters-expand {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  flex: 1; }
  .findwine_filters-expand-open {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: flex-end; }
.findwine_filters-expand-button {
  padding: 0px; }
.findwine_filters-close-button {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 16px;
  color: #333e48;
  font-weight: 500; }
.findwine_filters-expand-arrow {
  width: 12px;
  height: 8px; }
.findwine_ratings-explained--container {
  background-color: #f4f5f4;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 0px 15px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer; }
  @media (min-width: 992px) {
    .findwine_ratings-explained--container {
      justify-content: flex-start;
      height: auto;
      padding: 0px 0px 30px 0px;
      border-top: none;
      cursor: default; } }
.findwine_ratings-heading {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  color: #86929a;
  display: inline-block; }
  @media (min-width: 992px) {
    .findwine_ratings-heading {
      order: 2;
      cursor: pointer; } }
@media (min-width: 992px) {
  .findwine_ratings-info {
    order: 1;
    padding-left: 0px;
    cursor: pointer; } }
.findwine_ratings-info-icon {
  height: 18px;
  width: 18px; }
.findwine_modal {
  padding: 30px; }
.findwine_modal-ratings {
  text-align: center;
  margin-bottom: 30px; }
.findwine_modal-ratings-icon {
  height: 71px;
  width: 56px; }
.findwine_modal-heading {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 24px;
  color: #333e48;
  text-align: center;
  margin-bottom: 30px; }
.findwine_modal-content {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  color: #86929a;
  text-align: center; }
.findwine_modal-footer {
  padding: 30px; }
.findwine_modal-button {
  background-color: #ffffff;
  font-family: "Gotham SSm A", sans-serif;
  color: #00ad68;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #00ad68;
  cursor: pointer; }
  .findwine_modal-button:focus, .findwine_modal-button:hover, .findwine_modal-button:active {
    border: 2px solid #00ad68;
    background-color: #00ad68;
    color: #ffffff; }
  .findwine_modal-button:hover {
    background-color: #0a9761 !important;
    border: 2px solid #0a9761 !important;
    color: #ffffff; }
  .findwine_modal-button:active, .findwine_modal-button:focus {
    background-color: #14815b !important;
    border: 2px solid #14815b !important;
    color: #ffffff; }
.findwine_no-results-holder {
  background-color: #ffffff;
  border: 1px solid #dbe0e4;
  padding: 50px 0px;
  text-align: center; }
.findwine_no-results-holder-image {
  height: 50px;
  width: 255px;
  text-align: center;
  margin-bottom: 25px; }
.findwine_no-results-text-heading {
  text-align: center;
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 24px;
  margin-bottom: 15px; }
.findwine_no-results-text {
  text-align: center;
  font-family: "Gotham SSm A", sans-serif;
  color: #86929a;
  font-size: 14px;
  margin-bottom: 0px; }
.findwine_about-banner {
  background: url("images/background/about-mob.png") no-repeat center;
  height: 130px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-flow: column;
  padding: 30px 55px; }
  @media (min-width: 678px) {
    .findwine_about-banner {
      background: url("images/background/about-tab.png") no-repeat center;
      height: 250px; } }
  @media (min-width: 992px) {
    .findwine_about-banner {
      background: url("images/background/about.png") no-repeat center;
      background-size: cover;
      height: 350px;
      padding: 137px 420px; } }
.findwine_about-heading-1 {
  font-family: "Gotham SSm A", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.4px; }
  @media (min-width: 992px) {
    .findwine_about-heading-1 {
      font-size: 26px;
      letter-spacing: -0.6px; } }
.findwine_contact-heading-1 {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: -0.4px; }
  @media (min-width: 992px) {
    .findwine_contact-heading-1 {
      font-size: 26px;
      letter-spacing: -0.6px; } }
.findwine_about-heading-2 {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 18px;
  font-weight: 500; }
.findwine_about-heading-3 {
  font-family: "Gotham SSm A", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43; }
  @media (min-width: 992px) {
    .findwine_about-heading-3 {
      font-size: 18px; } }
.findwine_contact-heading-3 {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  margin-top: 20px; }
  @media (min-width: 992px) {
    .findwine_contact-heading-3 {
      font-size: 18px;
      margin-top: 25px; } }
.findwine_about-heading-4 {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-size: 14px;
  font-weight: 500; }
  @media (min-width: 992px) {
    .findwine_about-heading-4 {
      font-size: 18px; } }
.findwine_about-paragraph {
  font-family: "Gotham SSm A", sans-serif;
  color: #86929a;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 25px; }
  @media (min-width: 992px) {
    .findwine_about-paragraph {
      font-size: 16px;
      line-height: 1.75; } }
.findwine_contact-paragraph {
  font-family: "Gotham SSm A", sans-serif;
  color: #86929a;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 15px; }
  @media (min-width: 992px) {
    .findwine_contact-paragraph {
      font-size: 16px;
      line-height: 1.75; } }
.findwine_about-link {
  font-family: "Gotham SSm A", sans-serif;
  color: #00ad68;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin-top: 25px;
  text-decoration: none; }
  .findwine_about-link:focus, .findwine_about-link:hover, .findwine_about-link:active {
    text-decoration: underline;
    color: #00ad68; }
  @media (min-width: 992px) {
    .findwine_about-link {
      font-size: 16px;
      line-height: 1.75; } }
.findwine_about-content-1 {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  padding: 30px 15px;
  border-bottom: 1px solid #dbe0e4; }
  @media (min-width: 992px) {
    .findwine_about-content-1 {
      flex-flow: row;
      padding: 60px 0px;
      border-bottom: none; } }
  @media (min-width: 992px) {
    .findwine_about-content-1-left {
      width: 50%; } }
  .findwine_about-content-1-right {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%; }
    @media (min-width: 992px) {
      .findwine_about-content-1-right {
        width: 50%;
        margin-left: 90px; } }
.findwine_about-content-icon {
  height: 116px; }
  @media (min-width: 992px) {
    .findwine_about-content-icon {
      height: 177px;
      margin-right: 20px; } }
@media (min-width: 992px) {
  .findwine_about-content-container-outer {
    background-color: #f4f5f4;
    padding: 50px 100px;
    border: 1px solid #dbe0e4; } }
@media (min-width: 992px) {
  .findwine_about-content-container-outer-contact {
    display: flex;
    padding: 50px 100px 0px 100px;
    border: none; } }
@media (min-width: 992px) {
  .findwine_about-content-container {
    display: flex;
    padding: 0px; } }
.findwine_about-content-2 {
  padding: 20px 15px; }
  @media (min-width: 992px) {
    .findwine_about-content-2 {
      background-color: #ffffff;
      border: 1px solid #dbe0e4;
      flex: 1;
      padding: 30px; }
      .findwine_about-content-2:last-child {
        margin-left: 30px; } }
  .findwine_about-content-2-single {
    margin-left: 0px !important; }
.findwine_about-icon {
  align-self: flex-start;
  justify-self: flex-start;
  margin-bottom: 20px; }
.findwine_about-us-icon {
  height: 70px; }
@media (min-width: 992px) {
  .findwine_contact-flex {
    display: flex;
    margin-bottom: 50px; } }
.findwine_contact-content {
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  padding: 30px 15px; }
  @media (min-width: 992px) {
    .findwine_contact-content {
      padding: 60px 130px; } }
.findwine_contact-banner {
  background-color: #333e48;
  height: 130px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  padding: 30px 55px; }
  @media (min-width: 678px) {
    .findwine_contact-banner {
      height: 250px; } }
  @media (min-width: 992px) {
    .findwine_contact-banner {
      height: 350px;
      padding: 137px 420px; } }
@media (min-width: 992px) {
  .findwine_terms-margin {
    margin-bottom: 50px; } }
.findwine_producer-banner {
  height: 130px;
  width: 100%;
  overflow: hidden; }
  @media (min-width: 678px) {
    .findwine_producer-banner {
      height: 250px; } }
  @media (min-width: 992px) {
    .findwine_producer-banner {
      height: 350px; } }
  .findwine_producer-banner-image {
    width: 100%; }
    @media (min-width: 992px) {
      .findwine_producer-banner-image {
        margin-top: -130px; } }
@media (min-width: 992px) {
  .findwine_producer-content {
    padding: 60px 0px; } }
.findwine_producer-vintage {
  margin-top: 5px;
  font-size: 22px;
  padding: 15px 15px 0px 15px; }
  @media (min-width: 992px) {
    .findwine_producer-vintage {
      margin: 0px 0px 15px 0px;
      padding: 0px; } }
.findwine_producer-place {
  padding: 0px 15px;
  display: flex;
  align-items: center; }
  @media (min-width: 992px) {
    .findwine_producer-place {
      padding: 0px; } }
.findwine_producer-place-image {
  height: 13px;
  width: 9px;
  margin-right: 8px;
  margin-bottom: 3px; }
.findwine_producer-place-name {
  font-family: "Gotham SSm A", sans-serif;
  color: #333e48;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.9px; }
.findwine_producer-description {
  font-family: "Gotham SSm A", sans-serif;
  color: #86929a;
  font-size: 14px;
  line-height: 22px;
  padding: 20px 15px 15px 15px;
  height: 90px;
  overflow: hidden; }
  @media (min-width: 992px) {
    .findwine_producer-description {
      margin-top: 20px;
      font-size: 16px;
      line-height: 28px;
      padding: 0px; } }
@media (min-width: 992px) {
  .findwine_producer-detail-holder {
    background-color: #f4f5f4;
    padding-bottom: 20px;
    border-top: 1px solid #dbe0e4; } }
@media (min-width: 1280px) {
  .findwine_producer-wines-container {
    width: 1200px; } }
.findwine_producer-top-wines {
  background-color: #ffffff;
  margin-top: 20px; }
  @media (min-width: 992px) {
    .findwine_producer-top-wines {
      border: 1px solid #dbe0e4;
      margin-top: 50px;
      padding: 30px; } }
.findwine_producer-header--2 {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin: 0px 15px 13px 15px;
  color: #333e48; }
  @media (min-width: 992px) {
    .findwine_producer-header--2 {
      margin: 0px 0px 20px 0px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.1px; } }
.findwine_producer-header {
  font-family: "Gotham SSm A", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin: 0px 15px 13px 15px;
  color: #333e48; }
  @media (min-width: 992px) {
    .findwine_producer-header {
      margin: 0px 0px 10px 0px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.1px; } }
.findwine_producer-image-box {
  width: 900px;
  padding-left: 30px;
  align-content: flex-start;
  display: flex; }
  @media (min-width: 992px) {
    .findwine_producer-image-box {
      width: auto;
      padding-left: 0px; } }
.findwine_producer-wines-images {
  margin-right: 10px;
  display: flex;
  flex-flow: column; }
  @media (min-width: 992px) {
    .findwine_producer-wines-images {
      margin: 0px; } }
.findwine_producer-wines-outer {
  background-color: #ffffff;
  border: 1px solid #dbe0e4;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  height: 139px;
  width: 127px; }
  @media (min-width: 992px) {
    .findwine_producer-wines-outer {
      margin-right: 20px;
      height: 200px;
      width: 200px; } }
.findwine_producer-rating--box {
  height: 22px;
  width: 25px;
  border-radius: 3px 0px 3px 0px;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; }
  @media (min-width: 992px) {
    .findwine_producer-rating--box {
      font-size: 16px;
      height: 40px;
      width: 40px; } }
.findwine_producer-vintage-image {
  width: 70px;
  height: 130px;
  margin: auto;
  align-self: flex-end; }
  @media (min-width: 992px) {
    .findwine_producer-vintage-image {
      display: inline-block;
      text-align: center;
      overflow: hidden;
      width: 140px;
      height: 200px;
      margin: 20px 30px 0px 30px; } }
@media (min-width: 992px) {
  .findwine_producer-wine {
    width: 80px; } }
.findwine_producer-wines-price {
  max-width: 127px;
  font-family: "Gotham SSm A", sans-serif;
  font-weight: 500;
  color: #333e48;
  margin-top: 5px;
  font-size: 12px;
  line-height: 18px; }
  @media (min-width: 992px) {
    .findwine_producer-wines-price {
      max-width: 200px;
      margin-top: 10px;
      font-size: 18px;
      line-height: 1.67; } }
.findwine_producer-wines-vintage {
  font-family: "Gotham SSm A", sans-serif;
  font-weight: 300;
  color: #86929a;
  max-width: 127px;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 992px) {
    .findwine_producer-wines-vintage {
      max-width: 200px;
      font-size: 18px;
      line-height: 1.67; } }
@media (min-width: 992px) {
  .findwine_producer-details {
    width: 100%;
    display: flex;
    justify-content: space-between; } }
.findwine_producer-details-container {
  background-color: #ffffff; }
  @media (min-width: 992px) {
    .findwine_producer-details-container {
      padding: 30px;
      margin-bottom: 30px;
      border: 1px solid #dbe0e4;
      max-width: 380px;
      width: 100%;
      height: fit-content; } }
.findwine_producer-tasting-holder {
  padding: 20px 15px;
  text-align: center; }
  @media (min-width: 992px) {
    .findwine_producer-tasting-holder {
      padding: 0px;
      text-align: left; } }
.findwine_producer-tasting-svg {
  width: 58px;
  height: 58px;
  margin-bottom: 15px; }
  @media (min-width: 992px) {
    .findwine_producer-tasting-svg {
      float: left;
      margin-right: 20px;
      margin-bottom: 0px; } }
.findwine_producer-details-content {
  font-family: "Gotham SSm A", sans-serif;
  font-weight: 300;
  color: #86929a;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 992px) {
    .findwine_producer-details-content {
      font-size: 16px;
      line-height: 1.67; } }
  @media (min-width: 992px) {
    .findwine_producer-details-content-pb {
      padding-bottom: 30px; } }
@media (min-width: 992px) {
  .findwine_producer-button {
    margin: 0px -30px -17px -30px; } }
.findwine_producer-content-left {
  font-family: "Gotham SSm A", sans-serif;
  font-weight: 300;
  color: #86929a;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 992px) {
    .findwine_producer-content-left {
      display: inline-block;
      text-align: left;
      font-size: 16px;
      line-height: 1.67;
      margin-bottom: 10px; } }
  .findwine_producer-content-left-bold {
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 10px; }
.findwine_producer-content-right {
  font-family: "Gotham SSm A", sans-serif;
  font-weight: 500;
  color: #86929a;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 992px) {
    .findwine_producer-content-right {
      display: inline-block;
      text-align: right;
      float: right;
      font-size: 16px;
      line-height: 1.67; } }

/*# sourceMappingURL=findwine.css.map */
