.navbar {
  position: absolute;
  background-color: transparent;
  width: 100%; }
  @media (min-width: 1024px) {
    .navbar {
      padding: 40px 0px; } }
  .navbar-toggler {
    border: none;
    outline: none !important;
    padding-left: 0px; }
  .navbar .form-control::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    opacity: 1; }
  .navbar .form-control:-ms-input-placeholder {
    color: #ffffff;
    opacity: 1; }

.nav-link {
  font-family: "Gotham", sans-serif;
  color: #ffffff !important;
  font-size: 14px;
  padding-right: 40px !important;
  padding-left: 0px !important; }
  .nav-link:hover {
    color: #00ad68 !important; }

.form-control:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.15); }

a:focus, a:hover {
  color: #ffffff;
  text-decoration: none; }

.btn.focus, .btn:focus {
  box-shadow: none; }

.table-sm td, .table-sm th {
  padding: 0.3rem 15px; }

.rc-slider {
  width: 90% !important; }

.rc-slider-rail {
  background: #c8ced2; }

.rc-slider-track {
  background: #00ad68 !important; }

.rc-slider-rail, .rc-slider-track {
  height: 14px !important; }

.rc-slider-handle {
  background: url("images/SVGs/slider.svg") no-repeat center center;
  width: 34px !important;
  height: 34px !important;
  border: 1px solid #c8ced2 !important;
  margin-top: -10px !important; }

.btn-secondary:hover {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none; }

.min_price {
  display: inline-flex;
  align-items: center; }
  .min_price input {
    width: 75px;
    margin-left: 15px; }

.max_price {
  display: inline-flex;
  align-items: center; }
  .max_price input {
    width: 75px;
    margin-left: 15px;
    outline: none !important; }

.findwine_nav--menu {
  margin-left: 0px; }
  @media (min-width: 1024px) {
    .findwine_nav--menu {
      margin-left: auto; } }
.findwine_menu-icon {
  padding-top: 20px;
  color: #333e48;
  outline: none; }
.findwine_menu-button {
  fill: #ffffff;
  height: 12px;
  width: 18px;
  border: none; }
.findwine_nav-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%; }
.findwine_search-field {
  background-color: rgba(255, 255, 255, 0.3);
  color: #333e48;
  margin-right: 0px !important;
  border: transparent;
  border-radius: 4px 0px 0px 4px; }
.findwine_search-button {
  background-color: #00ad68;
  border: none;
  border-radius: 0px 4px 4px 1px; }
.findwine_search-icon {
  height: 18px;
  width: 18px; }
.findwine_logo-standard {
  width: 180px;
  object-fit: contain;
  padding: 12px 0px 11px 0px; }
  @media (min-width: 1024px) {
    .findwine_logo-standard {
      width: 270px;
      margin-top: -15%; } }
.findwine_banner-main {
  height: 190px;
  width: 100%;
  background: url("images/background/rohit-tandon-67718@3x.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem; }
  @media (min-width: 678px) {
    .findwine_banner-main {
      height: 300px; } }
  @media (min-width: 1024px) {
    .findwine_banner-main {
      height: 580px; } }
.findwine_banner-text {
  font-family: "Gotham", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  padding-top: 15%;
  padding-bottom: 5%;
  text-align: center;
  color: #ffffff; }
@media (min-width: 1024px) {
  .findwine_search-form {
    margin-top: -320px;
    padding: 20px 40px;
    background-color: white; } }
.findwine_heading-2 {
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  padding-bottom: 14px; }
.findwine_heading-3 {
  font-family: "Gotham", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  display: block; }
.findwine_content-paragraph {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  padding-bottom: 14px; }
.findwine_content-link {
  color: #00ad68;
  font-family: "Gotham", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  text-decoration: none; }
.findwine_content {
  background-color: #f4f5f5;
  border: solid 1px #dbe0e4; }
.findwine_content-container {
  padding: 40px 20px; }
.findwine_content-image {
  width: 220px; }
.findwine_button {
  -webkit-tap-highlight-color: transparent;
  background-color: #00ad68; }
  @media (min-width: 678px) {
    .findwine_button {
      width: auto; } }
  .findwine_button-outer {
    display: flex;
    justify-content: center; }
    @media (min-width: 678px) {
      .findwine_button-outer {
        display: flex;
        justify-content: center; } }
  .findwine_button-category {
    -webkit-tap-highlight-color: transparent;
    padding: 0px;
    color: #333e48;
    font-size: 13px;
    font-family: "Gotham", sans-serif;
    width: 60px;
    height: 85px;
    margin-right: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    margin-bottom: 15px; }
    @media (min-width: 576px) {
      .findwine_button-category {
        width: 80px;
        margin-right: 15px; } }
    .findwine_button-category:last-child {
      margin-right: 0px; }
    .findwine_button-category--selected {
      background-color: #ffffff; }
.findwine_svg {
  margin-top: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35px; }
.findwine_button-type {
  margin: 9px 0px 6px 0px;
  word-break: break-word; }
  .findwine_button-type p {
    margin-bottom: 0px !important; }
.findwine_button-bar {
  height: 4px;
  border-radius: 2px; }
  .findwine_button-bar--selectedred {
    background-color: #b22626; }
  .findwine_button-bar--selectedwhite {
    background-color: #fae78c; }
  .findwine_button-bar--selectedbubbly {
    background-color: #f7e1ba; }
  .findwine_button-bar--selectedrose {
    background-color: #f8a99f; }
  .findwine_button-bar--selecteddessert {
    background-color: #d68730; }
.findwine_newsletter-svg {
  width: 58px;
  height: 58px;
  float: left;
  margin: 10px 15px 0px 0px; }
  @media (min-width: 1024px) {
    .findwine_newsletter-svg {
      margin: 5px 20px 0px 0px; } }
.findwine_subscribe {
  padding-top: 30px; }
  @media (min-width: 1024px) {
    .findwine_subscribe {
      padding-top: 3em; } }
  @media (min-width: 1024px) {
    .findwine_subscribe .form-inline {
      float: right; } }
  .findwine_subscribe--flex {
    display: flex;
    justify-content: center; }
.findwine_newsletter-heading {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #333e48;
  margin-bottom: 0px;
  padding-top: 15px; }
.findwine_newsletter-paragraph {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #86929a; }
.findwine_newsletter-subscribe {
  color: #333e48;
  margin-right: 0px !important;
  border: 1px solid #86929a;
  border-radius: 4px 0px 0px 4px;
  width: auto;
  opacity: 0.5; }
.findwine_newsletter-button {
  background-color: #00ad68;
  border: 1px solid #00ad68;
  border-radius: 0px 4px 4px 1px;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px; }
.findwine_footer {
  background-color: #333e48;
  height: auto; }
  .findwine_footer--logo {
    height: 30px;
    margin-right: 20px; }
  .findwine_footer--text {
    color: #ffffff;
    font-family: "Gotham", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px; }
    .findwine_footer--text-spacing {
      margin-right: 20px;
      display: inline-block; }
      @media (min-width: 1024px) {
        .findwine_footer--text-spacing {
          margin-right: 30px; } }
  .findwine_footer--flex {
    display: flex;
    align-items: center; }
    .findwine_footer--flex-right {
      float: right;
      color: #ffffff; }
  .findwine_footer--icon {
    height: 30px;
    width: 30px;
    margin-left: 10px; }
.findwine_price-input {
  display: inline-block;
  width: 50%;
  margin-top: 30px; }
  @media (min-width: 1024px) {
    .findwine_price-input {
      width: 100%;
      margin-top: 0px; } }
.findwine_detail-image {
  height: 200px;
  width: 68px;
  margin: 0px 34px 28px 25px; }
.findwine_producer-main {
  text-decoration: none;
  font-family: "Gotham", sans-serif;
  color: #333e48;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500; }
.findwine_producer-vintage {
  font-family: "Gotham", sans-serif;
  color: #333e48;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 17px; }
.findwine_category {
  font-family: "Gotham", sans-serif;
  color: #333e48;
  font-size: 12px;
  line-height: 1.42;
  height: 17px;
  font-style: italic;
  margin-bottom: 8px; }
.findwine_place {
  font-family: "Gotham", sans-serif;
  color: #333e48;
  font-size: 12px;
  line-height: 1.42;
  height: 17px;
  margin-bottom: 20px; }
  .findwine_place img {
    margin-right: 7px; }
.findwine_rating {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 5px; }
.findwine_rating-box {
  background-color: #c9a564;
  height: auto;
  width: 40px;
  border-radius: 5px;
  display: block;
  margin-top: 25px; }
.findwine_award-list {
  list-style-type: none;
  font-family: "Gotham", sans-serif;
  font-size: 12px;
  color: #86929a;
  display: inline-block; }
.findwine_award-list-bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #333e48;
  margin-right: 5px;
  display: inline-block; }
.findwine_list-group {
  display: block; }
.findwine_detail-heading {
  background-color: #f4f5f4;
  border-top: 1px solid #dbe0e4;
  border-bottom: 1px solid #dbe0e4;
  padding: 0px 15px;
  min-height: 20px; }
.findwine_detail-header {
  font-family: "Gotham", sans-serif;
  color: #86929a;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
  margin-top: 31px;
  margin-bottom: 11px; }
.findwine_detail-header--2 {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.9px;
  margin: 26px 0px 13px 15px;
  color: #333e48; }
.findwine_detail-content {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px; }
.findwine_detail-content-left {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 125px; }
.findwine_detail-content-right {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: #86929a;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  width: 250px; }
.findwine_detail-content-list {
  padding: 0.3rem 0px; }
.findwine_detail-list {
  align-items: flex-start; }
.findwine_merchant-holder {
  width: 260px; }
.findwine_merchant-name {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333e48;
  margin-bottom: 5px; }
.findwine_merchant-unit {
  font-family: "Gotham", sans-serif;
  font-size: 12px;
  color: #86929a;
  margin-bottom: 22px; }
.findwine_merchant-delivery {
  font-family: #333e48;
  font-size: 12px;
  font-style: italic;
  line-height: 1.42;
  color: #86929a; }
.findwine_merchant-pricing {
  width: 71px; }
.findwine_merchant-currency {
  display: inline-block;
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 500; }
.findwine_merchant-price {
  display: inline-block;
  font-family: "Gotham", sans-serif;
  font-size: 26px;
  font-weight: 500; }
.findwine_buy-button {
  font-family: "Gotham", sans-serif;
  color: #ffffff;
  background-color: #00ad68;
  width: 71px;
  height: 38px;
  text-align: center;
  outline: none;
  margin-top: 5px; }
.findwine_vintage-rating--box {
  background-color: #c9a564;
  height: 22px;
  width: 25px;
  border-radius: 0px 3px 3px 0px;
  display: block;
  margin-top: 5px;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  display: inline-block; }
.findwine_vintage--image {
  width: 50px;
  height: 98px;
  display: inline-block; }
.findwine_vintage-producer {
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  color: #333e48; }
.findwine_vintage-details {
  display: inline-table; }
.findwine_vintage-vintage {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  color: #333e48; }
.findwine_vintage-category {
  font-family: "Gotham", sans-serif;
  font-size: 12px;
  color: #333e48;
  font-style: italic;
  margin-top: 20px; }
.findwine_vintage-currency {
  font-family: "Gotham", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333e48;
  display: inline-block;
  margin-right: 2px; }
.findwine_vintage-price {
  font-family: "Gotham", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #333e48;
  display: inline-block;
  margin-top: 60px; }
.findwine_vintage-table--display {
  display: inline-table;
  width: 75px; }
.findwine_search-result--table {
  padding: 17px 0px 0px 0px !important; }

/*# sourceMappingURL=findwine.css.map */
