{% load staticfiles %} <!doctype html>
<!--The static folder consists of .css, .js, fonts, etc -->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{% static 'wine/favicon.png' %}">
		<title>FindWine</title>
		<meta name="keywords" content="Find award winning wine in a price range and where to buy it">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="{% static 'wine/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'wine/findwine.css' %}" />
        <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
	</head>
	<body>
		<!-- This is the navigation bar at the top of the page-->
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary" >
            <button class="navbar-toggler navbar-toggler-left findwine_menu-icon" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
				<span class="findwine_menu-button"> <img src="../../../static/wine/images/SVGs/group.svg" style="fill: black; height: 12px; width: 18px; "></span>
			</button>
			<a class="navbar-brand findwine_logo-standard" href="{%url 'wine:search' %}" style="text-align: center">
				<img src="{% static 'wine/images/logo/logo-standard.png' %}" class="d-inline-block align-top" alt="FindWine" style="height: 33px">
			</a>
			<div class="collapse navbar-collapse mr-auto" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<!-- use to show an active link: <a class="nav-item nav-link active" href="{%url 'wine:search' %}">Search <span class="sr-only">(current)</span></a> -->
					<a class="nav-item nav-link" href="{%url 'wine:search' %}">Search</a> 
                </div>
            </div>
            <ul class="navbar-nav ml-auto hidden-md-down">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'content:about' %}">About</a>
                </li>
            </ul>
        </nav>

		<!-- OTHER PAGES -->
		{% block content %}
		<!--No need to input anything here. This is where the body of code will go from the other .html pages-->
		{% endblock %}
		
        {% include 'wine/partials/footer.html' %}
		<!--This is a javascript block. If javascript files are included in the 'static' folder then there's no need to 
		put this here -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block page_scripts %}{% endblock %}
	</body>
</html>
