{% load staticfiles %}
{% load site_tags %}
<!doctype html>
<!--The static folder consists of .css, .js, fonts, etc -->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="{% static 'wine/favicon.png' %}">
    {% with site|get_title:page_title as title %}
    {% with site|get_description:page_description as description %}
    {% with site|get_image_url:page_image as image %}
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="{{ site.KEYWORDS }}">
        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
    {% if site.TWITTER_USERNAME %}
        <meta name="twitter:site" content="@{{ site.TWITTER_USERNAME }}">
    {% endif %}
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="{{ image }}">
        <!-- Open Graph data -->
        <meta property="og:title" content="{{ title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page_url }}" />
        <meta property="og:image" content="{{ image }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:site_name" content="{{ site.NAME }}" />
    {% if site.FB_USERNAME %}
        <meta property="fb:admins" content="{{ site.FB_USERNAME }}" />
        <meta property="fb:app_id" content="{{ site.FB_APP_ID }}" />
    {% endif %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
        <link rel="canonical" href="{{ page_url }}">
    {% endwith %}
    {% endwith %}
    {% endwith %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="{% static 'wine/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'wine/findwine.css' %}" />
		<!-- Font -->
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7299416/7001192/css/fonts.css"/>

    {% include 'wine/partials/analytics.html' %}
	{% block page_head %}{% endblock %}
    </head>
	<body>

		<!-- OTHER PAGES -->
		{% block content %}
		<!--No need to input anything here. This is where the body of code will go from the other .html pages-->
		{% endblock %}
		
    {% include 'wine/partials/footer.html' %}

		<!--This is a javascript block. If javascript files are included in the 'static' folder then there's no need to 
		put this here -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% block page_scripts %}{% endblock %}
        {% include 'wine/partials/conversion_tracking.html' %}

	</body>
</html>
