{% extends "wine/base.html" %}
{% load staticfiles %}
{% block content %}
{% include 'wine/partials/search_nav.html' %}
{% include 'wine/partials/mobile_nav.html' %}
<div class="container">
    <h3>Price Widget Test</h3>
    <p>
        This is a very basic proof of concept demonstrating the ability to embed a pricing widget
        inside a page.
    </p>
    <hr>
    <h4>{{ wine_vintage_with_one.long_name }}</h4>
    <p>
        This wine has exactly one available merchant.
    </p>
    <h5>Modal button</h5>
    <div class="findwine-price-widget" data-findwine-id="{{wine_vintage_with_one.slug}}" data-findwine-is-modal></div>
    <h5>Inline listing</h5>
    <div class="findwine-price-widget" data-findwine-id="{{wine_vintage_with_one.slug}}" ></div>
    <hr>
    <h4>{{ wine_vintage_with_two_or_more.long_name }}</h4>
    <p>
        This wine was chosen because it has more than one available merchant.
    </p>
    <h5>Modal button</h5>
    <div class="findwine-price-widget" data-findwine-id="{{wine_vintage_with_two_or_more.slug}}" data-findwine-is-modal></div>
    <h5>Inline listing</h5>
    <div class="findwine-price-widget" data-findwine-id="{{wine_vintage_with_two_or_more.slug}}" ></div>
    <hr>
    <h4>{{ wine_vintage_with_nothing.long_name }}</h4>
    <p>
        This wine was chosen because it has no available merchants.
    </p>
    <h5>Modal button</h5>
    <div class="findwine-price-widget" data-findwine-id="{{wine_vintage_with_nothing.slug}}" data-findwine-is-modal ></div>
    <h5>Inline listing</h5>
    <div class="findwine-price-widget" data-findwine-id="{{wine_vintage_with_nothing.slug}}" ></div>
</div>
{% endblock %}
{% block page_scripts %}
<script>
  $(function () {
    // show nav
    $('#top').show();
  });
</script>
<script src="{% static 'js/price-widget-v1-bundle.js' %}"></script>
<script>
    var findwineMerchantId = 'findwine-demo';
    document.addEventListener('DOMContentLoaded', function() {
        FindWine.init(findwineMerchantId);
    }, false);
</script>
{% endblock %}
