{% extends 'wine/base.html' %}
{% load static %}
{% block page_head %}
<!-- Hammer JS swipe library CDN - will add library if we are happy with the functionality-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
<script src="/scripts/tap-gesture.js"></script>

{% endblock %}
{% block content %}

<!-- Nav -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-new search-page-content" id="top">
  <div class="container findwine_nav--menu">
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <span>
          <img src="{% static 'wine/images/SVGs/menu-black.svg' %}" class="findwine_menu-button">
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active nav-item-new">
          <a class="nav-link nav-link-new" href="{% url 'wine:search' %}">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-new">
          <a class="nav-link nav-link-new" href="{% url 'content:about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="findwine_nav-logo search-page-content">
    <a href="{% url 'wine:search' %}"><img src="{% static 'wine/images/SVGs/logo-beta-dark.svg' %}"
                                           class="d-inline-block align-top findwine_nav-logo-icon"
                                           alt="FindWine"></a>
  </div>
</nav>

<!-- Modal - Mobile Nav -->
<div class="modal left fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog findwine_modal-nav" role="document">
    <div class="modal-content findwine_modal-nav-content">
      <div class="modal-header findwine_modal-nav-header">
        <button type="button" class="close findwine_modal-nav-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{% static 'wine/images/SVGs/close.svg' %}"
                                        class="findwine_menu-button"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'wine:search' %}">Home <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'content:about' %}">About</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer findwine_modal-nav-footer">
        <div class="findwine_modal-nav-footer-links">
          <ul class="findwine_modal-nav-footer-links-ul">
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:contact' %}">Contact Us<span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:terms' %}">Privacy &
                Terms</a>
            </li>
          </ul>
        </div>
        <div class="findwine_modal-nav-footer-social">
          <a href="https://www.instagram.com/findwinesa/" target="_blank" class="findwine_footer--flex-right">
            <!-- This is a placeholder image - remember to replace -->
            <img src="{% static 'wine/images/SVGs/instagram-dark.svg' %}"
                 class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://twitter.com/FindWineSA" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/twitter-dark.svg' %}"
                 class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://www.facebook.com/FindWineSA/" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/facebook-dark.svg' %}"
                 class="findwine_modal-nav-footer-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Banner image-->
<div class="findwine_producer-banner">
  {% if producer.image %}
  <img src="{{ producer.image.url }}" alt="{{ producer.name }}" class="findwine_producer-banner-image">
  {% else %}
  <img src="{% static 'wine/images/background/producer.jpg' %}" class="findwine_producer-banner-image">
  {% endif %}
</div>

<!--Producer description-->
<div class="container">
  <div class="findwine_producer-content">
    <h4 class="findwine_producer-vintage">
      {{ producer.name }}
    </h4>
    <div class="findwine_producer-place">
      <img src="{% static 'wine/images/SVGs/pinpoint.svg' %}" class="findwine_producer-place-image">
      <div class="findwine_producer-place-name">{% if producer.appellation_primary %} {{ producer.appellation_primary.name }}, {% endif %} {{ producer.get_country_display }}
      </div>
    </div>
    {% if producer.description %}
    <div class="findwine_producer-description" id="detail">
      {{ producer.description }}
    </div>
    <div class="findwine_detail-expand" id="detailBar">
      <button class="btn findwine_detail-expand-button" type="button" id="detailButton" onclick="expandDetail()">
        Read More <img src="{% static 'wine/images/SVGs/arrow-down-green.svg' %}" class="findwine_detail-more-arrow">
      </button>
    </div>
    {% endif %}
  </div>
</div>
<div class="findwine_detail-heading hidden-lg-up"></div>

<div class="findwine_producer-detail-holder">
  <div class="container findwine_producer-wines-container">
    <!--Grid with top wines - expand: desktop; carousel: mobile-->
    <div class="findwine_producer-top-wines">
      <h5 class="findwine_producer-header--2 findwine_producer-header--2-mobile ">Top wines</h5>
      {% if producer.get_top_wines.exists %}
      <div class="findwine_producer-image-box" id="topWine">
        <div class="findwine_producer-images-holder" id="topWineCounter">
          {% for wine in producer.get_top_wines %}
          <div class="findwine_producer-wines-images">
            <div class="findwine_producer-wines-outer">
              <div class="findwine_producer-rating--box findwine_rating-box-{{ wine.rating_category }}">
                {{ wine.rating_display }}
              </div>
              <div class="findwine_producer-vintage-image">
                {% if wine.image_pack_shot %}
                <img src="{{ wine.image_pack_shot.url }}" alt="{{ wine.wine.name }}"
                     class="img-fluid rounded findwine_producer-wine">
                {% endif %}
              </div>
            </div>
            <div class="findwine_producer-wines-price">
              R {{ wine.get_price|floatformat:"0"|default:"N/A" }}
            </div>
            <div class="findwine_producer-wines-vintage findwine_producer-link">
              <a href="{% url 'wine:wine_detail_by_slug' wine.slug %}" target="_self"> {{ wine }} </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <h5 class="findwine_producer-header" style="padding-bottom: 20px">No wines available.</h5>
      {% endif %}
    </div>
    <div class="findwine_detail-expand findwine_detail-expand-topwines hidden-md-down" id="topWineButtonBar">
      <button class="btn findwine_detail-expand-button" type="button" id="topWineButton" onclick="moreWine()">
        View All Wines <img src="{% static 'wine/images/SVGs/arrow-down-green.svg' %}" class="findwine_detail-more-arrow">
      </button>
    </div>
  <div class="findwine_detail-heading hidden-lg-up"></div>
  <!--Farm details-->
  <!--Mobile: Tastings, Hours, Location, Contact details-->
  <!--Desktop: Tastings, Location; Hours; Contact details-->
  <div class="findwine_details-specs">
    <div class="findwine_producer-details findwine_producer-details-container-width">
      <div class="findwine_producer-details-holder">
        <div class="findwine_producer-details-container findwine_producer-details-container-center">
          <!-- Wine tasting -->
          <div class="findwine_producer-tasting-holder">
            <img src="{% static 'wine/images/SVGs/cheers.svg' %}" class="findwine_producer-tasting-svg">
            <div>
              <h5 class="findwine_producer-header">Tastings</h5>
              <div class="findwine_producer-details-content">
                {% if producer.tasting_price %} Minimum price <strong> R{{ producer.tasting_price }} </strong>
                {% else %}
                Contact for pricing
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- Location DESKTOP -->
        <div class="findwine_producer-details-container hidden-md-down">
          <h5 class="findwine_producer-header--2">Location</h5>
          <div class="findwine_producer-details-content findwine_producer-details-content-pb">
            {{ producer.address }}
          </div>
          <div class="findwine_detail-expand findwine_producer-button">
            <button class="btn findwine_detail-expand-button" type="button">
              <a class="nav-link-home" href="https://maps.google.com/?q={{producer.coordinates_google}}"
                 target="_blank">
                Get Directions
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Operating hours -->
    <div class="findwine_detail-heading hidden-lg-up"></div>
    <div class="findwine_producer-details-container findwine_producer-details-container-width">
      <h5 class="findwine_producer-header--2">Hours</h5>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Monday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_mon }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Tuesday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_tue }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Wednesday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_wed }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Thursday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_thu }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Friday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_fri }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Saturday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_sat }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Sunday
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_sun }}
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Holidays
        </div>
        <div class="findwine_producer-content-right">
          {{ producer.opening_hours_holidays }}
        </div>
      </div>
      {% if producer.closed_days %}
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left findwine_producer-content-left-bold">
          *Closed on {{ producer.closed_days }}
        </div>
      </div>
      {% endif %}
    </div>
    <div class="findwine_detail-heading hidden-lg-up"></div>
    <!-- Location MOBILE -->
    <div class="findwine_producer-details-container hidden-lg-up">
      <h5 class="findwine_producer-header--2">Location</h5>
      <div class="findwine_producer-details-content findwine_producer-details-content-pb">
        {{ producer.address }}
      </div>
      <div class="findwine_detail-expand findwine_producer-button">
        <button class="btn findwine_detail-expand-button" type="button">
          <a class="nav-link-home" href="https://maps.google.com/?q={{producer.coordinates_google}}" target="_blank">
            Get Directions
          </a>
        </button>
      </div>
    </div>
    <div class="findwine_detail-heading hidden-lg-up">
    </div>
    <!-- Contact details -->
    <div class="findwine_producer-details-container findwine_producer-details-container-width">
      <h5 class="findwine_producer-header--2">Contact details</h5>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Phone
        </div>
        <div class="findwine_producer-content-right">
          <a class="nav-link-home" href="tel:{{ producer.telephone_tasting }}" target="_self">
            {{ producer.telephone_tasting }}
          </a>
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Email
        </div>
        <div class="findwine_producer-content-right findwine_producer-email">
          <a class="nav-link-home" href="mailto:{{ producer.email_tasting }}" target="_self">
            {{ producer.email_tasting }}
          </a>
        </div>
      </div>
      <div class="findwine_producer-content-outer">
        <div class="findwine_producer-content-left">
          Website
        </div>
        <div class="findwine_producer-content-right findwine_producer-email">
          <a class="nav-link-home" href={{ producer.url }} target="_blank">
            {{ producer.url }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="findwine_detail-heading hidden-lg-up"></div>
  </div>
</div>

{% endblock %}

{% block page_scripts %}
<script>

  var detail = document.getElementById('detail');
  var detailButton = document.getElementById('detailButton');
  var detailBar = document.getElementById('detailBar');
  var detailHeight = $(detail).height();

  var topWineButtonBar = document.getElementById('topWineButtonBar');
  var topWineCounter = document.getElementById('topWineCounter');
  var topWineCount = topWineCounter.childElementCount;
  var image = document.getElementsByClassName('findwine_producer-wines-images');
  var showImages = $('.findwine_producer-wines-images:nth-of-type(1n+6)');

  function showWineButton() {
    // Show View all Wines button if more than 5 wines
    if (topWineCount > 5) {
      $(showImages).addClass('findwine_producer-wines-images-hide');
      topWineButtonBar.style.display = "flex";
    }
  }

  function readMoreButton() {
    // Show Read More button if text is more than 4 lines
    if ($(window).width() > 992 && detailHeight > 113) {
      detail.style.height = "113px";
      detailBar.style.display = "flex";
    } else if ($(window).width() < 992 && detailHeight > 90) {
      detail.style.height = "90px";
      detailBar.style.display = "flex";
    } else {
      detail.style.height = "auto";
    }
  }

  function addLoadEvent(func) {
    var oldonload = window.onload;
    if (typeof window.onload != 'function') {
      window.onload = func;
    } else {
      window.onload = function () {
        if (oldonload) {
          oldonload();
        }
        func();
      }
    }
  }
  addLoadEvent(showWineButton);
  addLoadEvent(readMoreButton);

  function expandDetail() {

    if (detail.style.height !== "auto") {
      detail.style.height = "auto";
      detailButton.innerHTML = "Show Less <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-less-arrow\">"
    } else {
      detailButton.innerHTML = "Read More <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-more-arrow\">"
      if ($(window).width() > 992) {
        detail.style.height = "113px";
      } else {
        detail.style.height = "90px";
      }
    }
  }

  // Find highest height and use to set height for all images
  var highestHeight = Math.max.apply(null, $(image).map(function () {
    return $(this).height();
  }).get());

  var panelHeight = highestHeight + 30 + 'px';

  // Display max 5 wines on load with option to expand holder if more than 5 wines
  function moreWine() {

    var topWine = document.getElementById('topWine');
    var topWineButton = document.getElementById('topWineButton');

    // Expand function - use highest height
    if (topWine.style.height !== "auto") {
      topWine.style.height = "auto";
      topWineButton.innerHTML = "View less <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-less-arrow\">"
      if (topWineCount > 5) {
        $(showImages).removeClass('findwine_producer-wines-images-hide')
      }
    } else {
      topWine.style.height = panelHeight;
      topWineButton.innerHTML = "View all wines <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-more-arrow\">"
      if (topWineCount > 5) {
        $(showImages).addClass('findwine_producer-wines-images-hide')
      }
    }

  }

</script>
{% endblock %}
