{% extends 'wine/base.html' %}
{% load static %}

{% block content %}

<!-- Nav -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-new search-page-content" id="top">
	<div class="container findwine_nav--menu">
		<button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <span>
          <img src="{% static 'wine/images/SVGs/menu-black.svg' %}" class="findwine_menu-button">
        </span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active nav-item-new">
					<a class="nav-link nav-link-new" href="{% url 'wine:search' %}">Home <span
						class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item nav-item-new">
					<a class="nav-link nav-link-new" href="{% url 'content:about' %}">About</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="findwine_nav-logo search-page-content">
		<a href="{% url 'wine:search' %}"><img src="{% static 'wine/images/SVGs/logo-beta-dark.svg' %}"
																					 class="d-inline-block align-top findwine_nav-logo-icon" alt="FindWine"></a>
	</div>
</nav>

<!-- Modal - Mobile Nav -->
<div class="modal left fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
		 aria-hidden="true">
	<div class="modal-dialog findwine_modal-nav" role="document">
		<div class="modal-content findwine_modal-nav-content">
			<div class="modal-header findwine_modal-nav-header">
				<button type="button" class="close findwine_modal-nav-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{% static 'wine/images/SVGs/close.svg' %}"
																				class="findwine_menu-button"></span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link findwine_modal-nav-link" href="{% url 'wine:search' %}">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link findwine_modal-nav-link" href="{% url 'content:about' %}">About</a>
					</li>
				</ul>
			</div>
			<div class="modal-footer findwine_modal-nav-footer">
				<div class="findwine_modal-nav-footer-links">
					<ul class="findwine_modal-nav-footer-links-ul">
						<li class="findwine_modal-nav-footer-links-li">
							<a class="findwine_modal-nav-footer-link" href="{% url 'content:contact' %}">Contact Us<span
								class="sr-only">(current)</span></a>
						</li>
						<li class="findwine_modal-nav-footer-links-li">
							<a class="findwine_modal-nav-footer-link" href="{% url 'content:terms' %}">Privacy & Terms</a>
						</li>
					</ul>
				</div>
				<div class="findwine_modal-nav-footer-social">
					<a href="https://www.instagram.com/findwinesa/" target="_blank" class="findwine_footer--flex-right">
						<!-- This is a placeholder image - remember to replace -->
						<img src="{% static 'wine/images/SVGs/instagram-dark.svg' %}" class="findwine_modal-nav-footer-icon">
					</a>
					<a href="https://twitter.com/FindWineSA" target="_blank" class="findwine_footer--flex-right">
						<img src="{% static 'wine/images/SVGs/twitter-dark.svg' %}" class="findwine_modal-nav-footer-icon">
					</a>
					<a href="https://www.facebook.com/FindWineSA/" target="_blank" class="findwine_footer--flex-right">
						<img src="{% static 'wine/images/SVGs/facebook-dark.svg' %}" class="findwine_modal-nav-footer-icon">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Banner image-->
<div class="findwine_producer-banner">
	{% if producer.image %}
	<img src="{{ producer.image.url }}" alt="{{ producer.name }}" class="img-fluid rounded">
	{% else %}
  <img src="{% static 'wine/images/background/about.png' %}" class="findwine_producer-banner-image">
	{% endif %}
</div>

<!--Producer description-->
<!--name-->
<!--pin location-->
<!--description-->
<div class="container">
  <div class="findwine_producer-content">
    <h4 class="findwine_producer-vintage">
      {{ producer.name }}
    </h4>
    <div class="findwine_producer-place">
      <img src="{% static 'wine/images/SVGs/pinpoint.svg' %}" class="findwine_producer-place-image">
      <div class="findwine_producer-place-name">{% if producer.appellation_primary %}{{ producer.appellation_primary.name }}, {% endif %}{{ producer.country }}</div>
    </div>
    {% if producer.description %}
    <div class="findwine_producer-description">
      <div class="findwine_producer-description"> {{ producer.description }} </div>
    </div>
    {% endif %}
    <!--PLACEHOLDER REMOVE BEFORE DEPLOYING!!!-->
    <div class="findwine_producer-description">
      <div class="findwine_producer-description"> Blog kinfolk mlkshk wolf VHS. Vape waistcoat banh mi brooklyn adaptogen, chia yr cold-pressed pinterest swag raw denim lyft tote bag leggings pop-up. Unicorn truffaut vice hoodie ugh lo-fi. Four dollar toast craft beer poutine, small batch prism post-ironic fanny pack dreamcatcher helvetica kitsch keytar hoodie twee. Pour-over actually vape banjo. </div>
    </div>
    <!--END PLACEHOLDER-->
  </div>
</div>
<div class="findwine_detail-heading hidden-lg-up"></div>

<!--Carousel - mobile-->
<!--Grid with top wines - expand - desktop-->
<div class="findwine_producer-detail-holder">
  <div class="container">

  </div>
</div>
<!--Farm details-->
<!--Mobile: Tastings, Hours, Location, Contact details-->
<!--Desktop: Tastings, Location; Hours; Contact details-->

<!--Insert all of the page specific content here-->
	<div class="container" style="margin-bottom: 200px; margin-top: 2%">
		<div class="row">
			<div class="col-12" style="margin-top: 8%">
				{% if producer.image %}
					<img src="{{ producer.image.url }}" alt="{{ producer.name }}" class="img-fluid rounded">
				{% endif %}
			</div>
			<div class="col-4 col-md-auto">
				{% if producer.logo %}
					<img src="{{ producer.logo.url }}" alt="..." class="img-fluid rounded float-left" style="max-height: 300px">
				{% endif %}
			</div>
			<div class="col-6">
				<h2 style="margin-bottom: 10px;">{{ producer.name }} </h2>
				<h5><small class="text-muted">{% if producer.appellation_primary %}{{ producer.appellation_primary.name }}, {% endif %}{{ producer.country }}</small></h5>
				<a href={{ producer.url }} target="_blank"> {{ producer.url }} </a>
				{% if producer.description %}
					<p> {{ producer.description }} </p>
				<br>
				{% endif %}
			</div>
            <div class="col-4 col-md-auto">
                    <h5>Location</h5>
                    <table class="table table-responsive table-sm">
                        <tbody>
                            <tr>
                                <td>Address:</td>
                                <td>{{ producer.address }}</td>
                            </tr>
                            {% if producer.coordinates_text %}
                            <tr>
                                <td>GPS: </td>
                                <td>{{ producer.coordinates_display }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>Google: </td>
                                <td><a class="text-primary" href="https://maps.google.com/?q={{producer.coordinates_google}}" target="_blank"> View on Google Maps</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
		</div>
		<div class="row">
			<div class="col-6" style="margin-top: 8%">
				<h4>Top wines</h4>
				{% if producer.wine_set.all %}
				<ul class="list-group list-group-flush">
					{% for wine in producer.wine_set.all %}
					<li class="list-group-item">{{ wine }}</li>
					{% endfor %}
				{% else %}
					<p style="margin-left:20px">No wines captured.</p>
				{% endif %}
				</ul>
			</div>
			<div class="col-6" style="margin-top: 8%">
				<h4>Wine tasting</h4>
				<p>Minimum price {% if producer.tasting_price %}{{ producer.tasting_currency }} {% endif %}{{ producer.tasting_price }}</p>
				<br>
				<h6>Hours</h6>
				<table class="table table-responsive table-sm">
					<tbody>
						<tr>
							<td>Mon</td>
							<td>{{ producer.opening_hours_mon }}</td>
						</tr>
						<tr>
							<td>Tue</td>
							<td>{{ producer.opening_hours_tue }}</td>
						</tr>
						<tr>
							<td>Wed</td>
							<td>{{ producer.opening_hours_wed }}</td>
						</tr>
						<tr>
							<td>Thu</td>
							<td>{{ producer.opening_hours_thu }}</td>
						</tr>
						<tr>
							<td>Fri</td>
							<td>{{ producer.opening_hours_fri }}</td>
						</tr>
						<tr>
							<td>Sat</td>
							<td>{{ producer.opening_hours_sat }}</td>
						</tr>
						<tr>
							<td>Sun</td>
							<td>{{ producer.opening_hours_sun }}</td>
						</tr>
						<tr>
							<td>Holidays</td>
							<td>{{ producer.opening_hours_holidays }}</td>
						</tr>
					</tbody>
				</table>
				<p>*Closed on {{ producer.closed_days }}</p>
				<br>
				<h6>Contact</h6>
				<table class="table table-responsive table-sm">
					<tbody>
						<tr>
							<td>Phone:</td>
							<td><a class="text-primary" href="tel:{{ producer.telephone_tasting }}" target="_self"> {{ producer.telephone_tasting }} </a></td>
						</tr>
						<tr>
							<td>Email: </td>
							<td><a class="text-primary" href="mailto:{{ producer.email_tasting }}" target="_self"> {{ producer.email_tasting }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

