{% extends 'wine/base.html' %}
{% load staticfiles %}

{% block content %}

<!-- This should disappear when 'search' button is clicked on home page -->
    <div class="findwine_banner-main landing-page-content">
        <img src="{% static 'wine/images/logo/logo-standard@3x.png' %}" class="d-inline-block align-top findwine_logo-standard" alt="FindWine">
    </div>

    <div id="react-home">
    </div>

<!-- Modal -->
<div class="findwine_ratings-explained--container">
  <div class="findwine_ratings-heading">
      Ratings explained
  </div>
  <div class="findwine_ratings-info">
    <img src="{% static 'wine/images/SVGs/info.svg' %}" class="findwine_ratings-info-icon">
  </div>
</div>

<!-- This should disappear when 'search wines' button is clicked on home page -->
    <div class="findwine_content landing-page-content">
        <div class="container">
            <div class="col-lg-10 offset-md-1 findwine_content-container">
                <div class="row">
                    <div class="hidden-md-down col-lg-4">
                        <img src="{% static 'wine/images/other/buy-image.png' %}" class="findwine_content-image">
                    </div>
                    <div class="col-lg-8">
                        <div class="findwine_heading-2">
                            We make buying great wine easy
                        </div>
                        <div class="findwine_content-paragraph">
                            Search hundreds of award-winning wines using our smart ratings and online price comparison.
                        </div>
                        <div>
                            <a href="{% url 'content:about' %}" class="findwine_content-link">
                                Read more
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="findwine_subscribe">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 findwine_subscribe--flex">
                        <img src="{% static 'wine/images/SVGs/cheers.svg' %}" class="findwine_newsletter-svg">
                        <div class="findwine_newsletter-content">
                            <p class="findwine_newsletter-heading">Subscribe to our newsletter</p>
                            <p class="findwine_newsletter-paragraph">Stay up-to-date on new wines and great deals.</p>
                        </div>
                </div>
                <div class="col-xs-12 col-md-6 findwine_subscribe--flex">
                    {% include 'wine/partials/mailchimp_sign_up.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script>
        var CATEGORY_CHOICES = {{ categories|safe }}; // must be a list since these are ordered
        var CATEGORY_MAP = {{ category_mapping|safe }};
        var STATIC_BASE_PATH = "{% static '' %}";
    </script>
    <script src="{% static 'js/findwine-bundle.js' %}"></script>
{% endblock %}
