{% extends 'wine/base.html' %}
{% load staticfiles %}


{% block content %}
	<!--Stacks for Small devices (landscape phones, 576px and down) otherwise horizontal -->
    <div class="container" style="padding-bottom: 20%">
        <div id="react-home">
        </div>
	</div>
{% endblock %}
{% block page_scripts %}
{#    <script src="{% static 'js/findwine-bundle.js' %}"></script>#}
    <script src="/static/js/findwine-bundle.js"></script>
    <script>
        var CATEGORY_MAP = {{ category_mapping|safe }};
        function setSubCategories(category) {
            var subcategories = CATEGORY_MAP[category];
            var $select = $('#id_sub_category');
            // wipe list
            $select.html('');
            // add subcategories
            for (var i = 0; i < subcategories.length; i++) {
                $select.append($('<option>', { value: subcategories[i], html: subcategories[i] }));
            }
        }
        $("#id_category").change(function () {
            setSubCategories($(this).val());
        });
        setSubCategories($("#id_category").val());
    </script>
{% endblock %}
