{% extends 'wine/base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="findwine_banner-main">
        <img src="{% static 'wine/images/logo/logo-standard@3x.png' %}" class="d-inline-block align-top findwine_logo-standard" alt="FindWine">
    </div>
    <div id="react-home">
    </div>
    <div class="findwine_content">
        <div class="container">
            <div class="col-lg-10 offset-md-1 findwine_content-container">
                <div class="row">
                    <div class="hidden-md-down col-lg-4">
                        <img src="{% static 'wine/images/other/buy-image.png' %}" class="findwine_content-image">
                    </div>
                    <div class="col-lg-8">
                        <div class="findwine_heading-2">
                            We make buying great wine easy.
                        </div>
                        <div class="findwine_content-paragraph">
                            Search for award-winning wine by type and price. Use our smart ratings to select great wine
                            from online shops that deliver to your door.
                        </div>
                        <div>
                            <a href="{% url 'content:about' %}" class="findwine_content-link">
                                READ MORE
                            </a>
                        </div>
                    </div>
            </div>
        </div>
        </div>
    </div>
    <div class="findwine_subscribe">
        <div class="container">
            <div class="row">
            <div class="col-xs-12 col-md-6 findwine_subscribe--flex">
                    <img src="{% static 'wine/images/SVGs/cheers.svg' %}" class="findwine_newsletter-svg">
                    <div class="findwine_newsletter-content">
                        <p class="findwine_newsletter-heading">Subscribe to our newsletter!</p>
                        <p class="findwine_newsletter-paragraph">Lorem ipsum dolor sit amet</p>
                    </div>
            </div>
            <div class="col-xs-12 col-md-6 findwine_subscribe--flex">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2 findwine_newsletter-subscribe" type="text" placeholder="Email">
                    <button class="btn btn-outline-success my-2 my-sm-0 findwine_newsletter-button" type="submit"> Subscribe </button>
                </form>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
    <script>
        var CATEGORY_CHOICES = {{ categories|safe }}; // must be a list since these are ordered
        var CATEGORY_MAP = {{ category_mapping|safe }};
        var STATIC_BASE_PATH = "{% static '' %}";
    </script>
    <script src="{% static 'js/findwine-bundle.js' %}"></script>
{% endblock %}
