{% extends 'wine/base.html' %}
{% load static %}

{% block content %}

<!-- Nav -->
<nav class="navbar navbar-toggleable-sm navbar-light bg-faded navbar-new search-page-content" id="top">
  <div class="container findwine_nav--menu">
    <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#exampleModalLong">
        <span>
          <img src="{% static 'wine/images/SVGs/menu-black.svg' %}" class="findwine_menu-button">
        </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active nav-item-new">
          <a class="nav-link nav-link-new" href="{% url 'wine:search' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item nav-item-new">
          <a class="nav-link nav-link-new" href="{% url 'content:about' %}">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="findwine_nav-logo search-page-content">
    <a href="{% url 'wine:search' %}"><img src="{% static 'wine/images/SVGs/logo-black.svg' %}" class="d-inline-block align-top findwine_nav-logo-icon" alt="FindWine"></a>
  </div>
</nav>

<!-- Modal - Mobile Nav -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog findwine_modal-nav" role="document">
    <div class="modal-content findwine_modal-nav-content">
      <div class="modal-header findwine_modal-nav-header">
        <button type="button" class="close findwine_modal-nav-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><img src="{% static 'wine/images/SVGs/close.svg' %}" class="findwine_menu-button"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'wine:search' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link findwine_modal-nav-link" href="{% url 'content:about' %}">About</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer findwine_modal-nav-footer">
        <div class="findwine_modal-nav-footer-links">
          <ul class="findwine_modal-nav-footer-links-ul">
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:contact' %}">Contact Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="findwine_modal-nav-footer-links-li">
              <a class="findwine_modal-nav-footer-link" href="{% url 'content:terms' %}">Privacy & Terms</a>
            </li>
          </ul>
        </div>
        <div class="findwine_modal-nav-footer-social">
          <a href="https://www.instagram.com/findwinesa/" target="_blank" class="findwine_footer--flex-right">
            <!-- This is a placeholder image - remember to replace -->
            <img src="{% static 'wine/images/SVGs/instagram-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://twitter.com/FindWineSA" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/twitter-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
          <a href="https://www.facebook.com/FindWineSA/" target="_blank" class="findwine_footer--flex-right">
            <img src="{% static 'wine/images/SVGs/facebook-dark.svg' %}" class="findwine_modal-nav-footer-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Insert all of the page specific content here-->
<div class="findwine_detail-padding">

  <!--image - MOBILE-->
  <div class="hidden-md-up">
    {% if winevintage.image_pack_shot %}
      <img src="{{ winevintage.image_pack_shot.url }}" alt="{{ winevintage.wine.name }}"
          class="img-fluid rounded float-left findwine_detail-image">
    {% else %}
      <img src="{% static 'wine/images/other/placeholder.jpg' %}" alt="{{ other_vintage.wine.name }}"
          class="img-fluid rounded findwine_vintage--image-img"/>
    {% endif %}
  </div>

  {% if winevintage.image_pack_shot %}
  <div class="hidden-sm-down findwine_detail-images-desktop">
    <div class="findwine_detail-images-small">
      {% if winevintage.image_pack_shot %}
      <div class="findwine_detail-image-1 js-green-class findwine_detail-image-border-green" onclick="imageFocus()">
        <img src="{{ winevintage.image_pack_shot.url }}" alt="{{ winevintage.wine.name }}"
             class="img-fluid rounded float-left">
      </div>
      {% endif %}
      {% if winevintage.image_label_vertical %}
      <div class="findwine_detail-image-2 js-green-class" onclick="imageFocus()">
        <img src="{{ winevintage.image_label_vertical.url }}" alt="{{ winevintage.wine.name }}"
             class="img-fluid rounded float-left">
      </div>
      {% endif %}
    </div>

    {# TODO: this will need to be updated based on the image that's clicked on the left #}
    {% if winevintage.image_pack_shot %}
    <div class="findwine_detail-image-main--holder">
      <img src="{{ winevintage.image_pack_shot.url }}" alt="{{ winevintage.wine.name }}"
           class="img-fluid rounded float-left findwine_detail-image-main">
    </div>
    {% endif %}
  </div>
  {% else %}
  <div class="hidden-sm-down findwine_detail-images-desktop findwine_detail-images-desktop-none"></div>
  {% endif %}

  <!-- Wine detail -->
  <div class="findwine_producer">
    <!-- Wine name & vintage year-->
    <div class="findwine_producer-main">
      {{ winevintage.wine.producer }}
    </div>
    <h4 class="findwine_producer-vintage"> {{ winevintage.wine.name }} {{ winevintage.year }} </h4>

    <!-- Wine category & origin -->
    <p class="findwine_category">
      {{ winevintage.category }}
      {% if winevintage.blend %}
      {{ winevintage.blend }}
      {% endif %}
      {{ winevintage.sub_category.name }}
    </p>

    {% if winevintage.appellation %}

    <p class="findwine_place">
      <img src="{% static 'wine/images/SVGs/pinpoint.svg' %}" class="hidden-md-up findwine_place-image">
      <img src="{% static 'wine/images/SVGs/pinpoint-grey.svg' %}" class="hidden-sm-down">
      {{winevintage.appellation.name}},
      {{ winevintage.appellation.get_country_display }}</p>
    {% endif %}

    <div class="findwine_awards-holder">
      <!-- Rating -->
      <div class="findwine_rating-box findwine_rating-box-{{ winevintage.rating_category }}">
        <p class="findwine_rating">{{ winevintage.rating.avg_rating|floatformat:1 }}</p>
      </div>

      <!-- Awards -->
      <div class="findwine_awards-container">
        {% if winevintage.wineaward_set.all %}
        <table style="width:100%">
          <tr>
            <th class="findwine_award-heading hidden-sm-down">AWARDS</th>
          </tr>
          <tr>
            {% for wineaward in winevintage.wineaward_set.all %}
            <td class="findwine_award-list">{{ wineaward.award }}</td>
            {% endfor %}
          </tr>
        </table>
        {% else %}
        <p>No awards captured.</p>
        {% endif %}
      </div>
    </div>

    <!-- Purchase options - Desktop -->
    <div class="hidden-sm-down">
      <div class="findwine_detail-heading">
        <h5 class="findwine_detail-header">PURCHASE OPTIONS</h5>
      </div>
      {% if winevintage.merchantwine_set.all %}
      <ul class="list-group list-group-flush">
        {% for merchantwine in winevintage.merchantwine_set.all %}
        <li class="list-group-item findwine_detail-list">
          <div class="findwine_merchant-holder">
            <div class="findwine_merchant-name"> {{ merchantwine.merchant.name }}</div>
            <div class="findwine_merchant-unit"> {{ merchantwine.purchase_unit }} ml (minimum {{merchantwine.minimum_purchase_unit }})
            </div>
            <div class="findwine_merchant-delivery"> Delivery: {{ merchantwine.merchant.delivery_fees }}</div>
          </div>
          <div class="findwine_merchant-pricing">
            <div class="findwine_merchant-price-holder">
              <div class="findwine_merchant-currency"> R</div>
              <div class="findwine_merchant-price"> {{ merchantwine.rounded_price }}</div>
            </div>
            <a class="btn findwine_buy-button" href={{ merchantwine.url }} target="_blank" role="button"> BUY</a>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <p>No merchant availability.</p>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
  <!-- Purchase options - Mobile -->
  <div class="hidden-md-up">
    <div class="findwine_detail-purchase">
      <div class="findwine_detail-heading">
        <h5 class="findwine_detail-header">PURCHASE OPTIONS</h5>
      </div>
      {% if winevintage.merchantwine_set.all %}
      <ul class="list-group list-group-flush">
        {% for merchantwine in winevintage.merchantwine_set.all %}
        <li class="list-group-item findwine_detail-list">
          <div class="findwine_merchant-holder">
            <div class="findwine_merchant-name"> {{ merchantwine.merchant.name }}</div>
            <div class="findwine_merchant-unit"> {{ merchantwine.purchase_unit }} ml (minimum {{ merchantwine.minimum_purchase_unit }})
            </div>
            <div class="findwine_merchant-delivery"> Delivery: {{ merchantwine.merchant.delivery_fees }}</div>
          </div>
          <div class="findwine_merchant-pricing">
            <div class="findwine_merchant-price-holder">
              <div class="findwine_merchant-currency"> R</div>
              <div class="findwine_merchant-price"> {{ merchantwine.rounded_price }}</div>
            </div>
            <a class="btn findwine_buy-button" href={{ merchantwine.url }} target="_blank" role="button"> BUY</a>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <p>No merchant availability.</p>
        {% endif %}
      </ul>
    </div>
  </div>

  <!-- Wine info -->
<div class="findwine_detail-holder">
  <div class="findwine_detail-heading">
    <h5 class="findwine_detail-header findwine_detail-header--desktop">WINE INFO</h5>
  </div>

  {% if winevintage.description %}
  <div class="findwine_detail-rowHeight" id="info">
    <div class="findwine_detail-info">
      <h5 class="findwine_detail-header--2">Description</h5>
      <p class="findwine_detail-content" id="infoContent">{{ winevintage.description }}</p>
      <!-- Include Read more button -->
    </div>
  </div>
  <div class="findwine_detail-expand hidden-md-up">
    <button class="btn findwine_detail-expand-button" type="button" id="infoButton" onclick="expandInfo()">
      More <img src="{% static 'wine/images/SVGs/arrow-down-green.svg' %}" class="findwine_detail-more-arrow">
    </button>
  </div>
  <div class="findwine_detail-heading hidden-md-up"></div>
  {% endif %}

  <!-- Wine details -->
  <div class="findwine_detail-rowHeight hidden-md-up" id="detail">
    <div class="findwine_detail-info">
      <h5 class="findwine_detail-header--2">Details</h5>
      <p class="findwine_detail-content" id="detailContent"> Read more about this wine.</p>
      <div class="table table-responsive table-sm">
        {% if winevintage.winemakers.count %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Winemaker:</div>
          <div class="findwine_detail-content-right">
            {% for winemaker in winevintage.winemakers.all %}
            {{ winemaker }}
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% if winevintage.alcohol_percentage %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Alcohol percentage:</div>
          <div class="findwine_detail-content-right">{{ winevintage.alcohol_percentage|floatformat:1 }}%</div>
        </div>
        {% endif %}
        {% if winevintage.winegrape_set.all %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Blend:</div>
          <div class="findwine_detail-content-right">
            <ul class="findwine_list" style="margin-bottom: 0px">
              {% for winegrape in winevintage.winegrape_set.all %}
              <li class="findwine_list-item">
                {{ winegrape.grape }}
                {{ winegrape.percentage|floatformat:0 }}
                {% if winegrape.percentage %} % {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if winevintage.sweetness %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Sweetness:</div>
          <div class="findwine_detail-content-right">{{ winevintage.sweetness }}</div>
        </div>
        {% endif %}
        {% if winevintage.wooded %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Wooded:</div>
          <div class="findwine_detail-content-right">{{ winevintage.wooded|yesno:"Wooded,Unwooded,Unknown" }}</div>
        </div>
        {% endif %}
        {% if winevintage.organic %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Organic:</div>
          <div class="findwine_detail-content-right">{{ winevintage.organic|yesno:"Yes,No,Unknown" }}</div>
        </div>
        {% endif %}
        {% if winevintage.contains_sulphites %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Contains sulphites:</div>
          <div class="findwine_detail-content-right">{{ winevintage.contains_sulphites|yesno:"Yes,No,Unknown" }}</div>
        </div>
        {% endif %}
        {% if winevintage.vegetarian %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Vegetarian:</div>
          <div class="findwine_detail-content-right">{{ winevintage.vegetarian|yesno:"Yes,No,Unknown" }}</div>
        </div>
        {% endif %}
        {% if winevintage.residual_sugar %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Residual sugar:</div>
          <div class="findwine_detail-content-right">{{ winevintage.residual_sugar }} g/l</div>
        </div>
        {% endif %}
        {% if winevintage.ph %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">pH:</div>
          <div class="findwine_detail-content-right">{{ winevintage.ph }}</div>
        </div>
        {% endif %}
        {% if winevintage.total_acidity %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Total acidity:</div>
          <div class="findwine_detail-content-right">{{ winevintage.total_acidity }} g/l</div>
        </div>
        {% endif %}
        {% if winevintage.total_sulphur %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Total sulphur:</div>
          <div class="findwine_detail-content-right">{{ winevintage.total_sulphur|floatformat:1 }} mg/l</div>
        </div>
        {% endif %}
      </div>
      <!-- Will add back later -->
      <!--{% if winevintage.tasting_notes %}-->
      <!--<a class="text-primary" style="margin-left:15px"-->
      <!--href="{{ winevintage.tasting_notes.url|default_if_none:'#' }}">Download tasting notes</a>-->
      <!--{% endif %}-->
    </div>
  </div>
  <div class="findwine_detail-expand hidden-md-up">
    <button class="btn findwine_detail-expand-button" type="button" id="detailButton" onclick="expandDetail()">
      More <img src="{% static 'wine/images/SVGs/arrow-down-green.svg' %}" class="findwine_detail-more-arrow">
    </button>
  </div>
  <div class="findwine_detail-heading hidden-md-up"></div>

<!-- Wine details and specs - Desktop -->
<div class="findwine_details-specs">
  <div class="findwine_detail-rowHeight findwine_details-margin hidden-sm-down">
    <div class="findwine_detail-info">
      <h5 class="findwine_detail-header--2">Details</h5>
      <div class="table table-responsive table-sm">
        {% if winevintage.winemakers.count %}
          <div class="findwine_detail-content-left">Winemaker:</div>
          <div class="findwine_detail-content-right">
            {% for winemaker in winevintage.winemakers.all %}
            {{ winemaker }}
            {% endfor %}
          </div>
        {% endif %}
        {% if winevintage.alcohol_percentage %}
          <div class="findwine_detail-content-left">Alcohol percentage:</div>
          <div class="findwine_detail-content-right">{{ winevintage.alcohol_percentage|floatformat:1 }}%</div>
        {% endif %}
        {% if winevintage.winegrape_set.all %}
          <div class="findwine_detail-content-left">Blend:</div>
          <div class="findwine_detail-content-right">
            <ul class="findwine_list findwine_detail-list-inline-item">
              {% for winegrape in winevintage.winegrape_set.all %}
              <li class="findwine_list-item findwine_detail-list-inline-item">
                {{ winegrape.grape }}
                {{ winegrape.percentage|floatformat:0 }}
                {% if winegrape.percentage %} % {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if winevintage.sweetness %}
          <div class="findwine_detail-content-left">Sweetness:</div>
          <div class="findwine_detail-content-right">{{ winevintage.sweetness }}</div>
        {% endif %}
        {% if winevintage.wooded %}
          <div class="findwine_detail-content-left">Wooded:</div>
          <div class="findwine_detail-content-right">{{ winevintage.wooded|yesno:"Wooded,Unwooded,Unknown" }}</div>
        {% endif %}
        {% if winevintage.organic %}
          <div class="findwine_detail-content-left">Organic:</div>
          <div class="findwine_detail-content-right">{{ winevintage.organic|yesno:"Yes,No,Unknown" }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="findwine_detail-rowHeight hidden-sm-down findwine_details-margin">
    <div class="findwine_detail-info">
      <h5 class="findwine_detail-header--2">Specs</h5>
      <div class="table table-responsive table-sm">
        {% if winevintage.contains_sulphites %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Contains Sulphites:</div>
          <div class="findwine_detail-content-right">{{ winevintage.contains_sulphites|yesno:"Yes,No,Unknown" }}</div>
        </div>
        {% endif %}
        {% if winevintage.vegetarian %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Vegetarian:</div>
          <div class="findwine_detail-content-right">{{ winevintage.vegetarian|yesno:"Yes,No,Unknown" }}</div>
        </div>
        {% endif %}
        {% if winevintage.residual_sugar %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Residual sugar:</div>
          <div class="findwine_detail-content-right">{{ winevintage.residual_sugar }} g/l</div>
        </div>
        {% endif %}
        {% if winevintage.ph %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">pH:</div>
          <div class="findwine_detail-content-right">{{ winevintage.ph }}</div>
        </div>
        {% endif %}
        {% if winevintage.total_acidity %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Total acidity:</div>
          <div class="findwine_detail-content-right">{{ winevintage.total_acidity }} g/l</div>
        </div>
        {% endif %}
        {% if winevintage.total_sulphur %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Total sulphur:</div>
          <div class="findwine_detail-content-right">{{ winevintage.total_sulphur|floatformat:1 }} mg/l</div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Serving suggestions -->
  <div class="findwine_detail-rowHeight " id="serve">
    <div class="findwine_detail-info">
      <h5 class="findwine_detail-header--2">Serving suggestion</h5>
      <p class="findwine_detail-content hidden-md-up" id="serveContent"> Food pairings, serving temperatures and best years to
        drink. </p>
      <div class="table table-responsive table-sm">
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Food pairing:</div>
          <div class="findwine_detail-content-right">
            {% if winevintage.winefoodpairing_set.all %}
            <ul class="findwine_list findwine_detail-list-inline-item hidden-md-up">
              {% for winefoodpairing in winevintage.winefoodpairing_set.all %}
              <li class="findwine_list-item findwine_detail-list-inline-item">
                {{ winefoodpairing.food_pairing.name }}
              </li>
              {% endfor %}
            </ul>
            <ul class="findwine_list findwine_detail-list-inline-item hidden-sm-down">
              {% for winefoodpairing in winevintage.winefoodpairing_set.all %}
              <li class="findwine_list-item findwine_detail-list-inline-item">
                {{ winefoodpairing.food_pairing.name }}
              </li>
              {% endfor %}
            </ul>
            {% else %}
            <p>No food pairings available.</p>
            {% endif %}
          </div>
        </div>
        {% if winevintage.optimal_year_start %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Peak years:</div>
          <div class="findwine_detail-content-right">{{ winevintage.optimal_year_start }} - {{winevintage.optimal_year_end }}
          </div>
        </div>
        {% endif %}
        {% if winevintage.temp_min %}
        <div class="findwine_detail-table-content">
          <div class="findwine_detail-content-left">Serve at:</div>
          <div class="findwine_detail-content-right">{{ winevintage.temp_min }} - {{ winevintage.temp_max }} degrees C
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="findwine_detail-expand hidden-md-up">
    <button class="btn findwine_detail-expand-button" type="button" id="serveButton" onclick="expandServe()">
      More <img src="{% static 'wine/images/SVGs/arrow-down-green.svg' %}" class="findwine_detail-more-arrow">
    </button>
  </div>
</div>

  <!-- Other vintages -->
  {% if winevintage.other_vintages %}
  <div class="findwine_detail-heading">
    <h5 class="findwine_detail-header findwine_detail-header--desktop">OTHER VINTAGES</h5>
  </div>

  {% for other_vintage in winevintage.other_vintages %}
  <a href="{{ winevintage.details_url }}" class="findwine_vintage-producer">
    <div class="findwine_vintage-table">
      <div class="findwine_search-results">
        <div class="findwine_search-result--table">
          <div class="findwine_vintage-rating--box findwine_vintage-rating findwine_rating-box-{{ winevintage.rating_category }}">
            {{ other_vintage.rating.avg_rating|default:"?"}}
          </div>
          <div class="findwine_vintage--image">
            {% if other_vintage.image_pack_shot %}
            <img src="{{ other_vintage.image_pack_shot.url }}" alt="{{ other_vintage.wine.name }}"
                 class="img-fluid rounded findwine_vintage--image-img"/>
            {% else %}
            <img src="{% static 'wine/images/other/placeholder.jpg' %}" alt="{{ other_vintage.wine.name }}"
                 class="img-fluid rounded findwine_vintage--image-img"/>
            {% endif %}
          </div>
          <div class="findwine_vintage-details">
            <div class="findwine_vintage-producer-main">
              {{ other_vintage.wine.producer.name }}
            </div>
            <h4 class="findwine_vintage-vintage">
              {{ other_vintage.wine.name }} {{ other_vintage.year }}
            </h4>
            <div class="findwine_vintage-row">
              <p class="findwine_vintage-category">
                {{ other_vintage.sub_category }}
              </p>
              {% if other_vintage.preferred_merchant %}
              <div class="findwine_vintage-table--display">
                <div class="findwine_vintage-currency"> R</div>
                <div class="findwine_vintage-price">
                  {{ other_vintage.preferred_merchant.price }}
                </div>
                <button class="btn findwine_view-button hidden-sm-down"
                        target="_self" role="button" href={{ winevintage.details_url }}>
                  View
                  <img src="{% static 'wine/images/SVGs/arrow-right-white.svg' %}"
                       class="findwine_view-button-arrow">
                </button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  <div class="findwine_detail-heading hidden-md-up"></div>
  {% endif %}
</div>

  <script>

    function expandInfo() {
      let info = document.getElementById('info');
      let infoButton = document.getElementById('infoButton');

      if (info.style.height !== "auto") {
        info.style.height = "auto";
        infoButton.innerHTML = "Less <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-less-arrow\">"
      } else {
        info.style.height = "113px";
        infoButton.innerHTML = "More <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-more-arrow\">"
      }

      let infoContent = document.getElementById('infoContent');

      if (infoContent.style.height !== "auto") {
        infoContent.style.height = "auto";
      } else {
        infoContent.style.height = "43px";
      }

    }

    function expandDetail() {

      let detail = document.getElementById('detail');
      let detailButton = document.getElementById('detailButton');

      if (detail.style.height !== "auto") {
        detail.style.height = "auto";
        detailButton.innerHTML = "Less <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-less-arrow\">"
      } else {
        detail.style.height = "113px";
        detailButton.innerHTML = "More <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-more-arrow\">"
      }

      let detailContent = document.getElementById('detailContent');

      if (detailContent.style.height !== "auto") {
        detailContent.style.height = "auto";
      } else {
        detailContent.style.height = "43px";
      }

    }

    function expandServe() {

      let serve = document.getElementById('serve');
      let serveButton = document.getElementById('serveButton');

      if (serve.style.height !== "auto") {
        serve.style.height = "auto";
        serveButton.innerHTML = "Less <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-less-arrow\">"
      } else {
        serve.style.height = "113px";
        serveButton.innerHTML = "More <img src=\"{% static 'wine/images/SVGs/arrow-down-green.svg' %}\" class=\"findwine_detail-more-arrow\">"
      }

      let serveContent = document.getElementById('serveContent');

      if (serveContent.style.height !== "auto") {
        serveContent.style.height = "auto";
      } else {
        serveContent.style.height = "43px";
      }

    }

    function imageFocus() {

    }


  </script>

  {% endblock %}
